{%- if localization.available_countries.size > 1 -%}
<localization-form class="bb-footer-currency">
  {%- form 'localization', id: 'BBFooterCurrencyForm', class: 'disclosure-form' -%}
    <div class="disclosure-form-field bb-footer-currency__field">
      <button
        type="button"
        class="disclosure-selector bb-footer-currency__trigger body3"
        aria-expanded="false"
        aria-controls="BBFooterCurrencyList"
        aria-label="{{ 'localization.country_label' | t }}"
      >
        <span class="bb-footer-currency__label">
          {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
        </span>
        <span class="bb-footer-currency__chevron disclosure-form-field__icon" aria-hidden="true">
          {{- 'icon-arrow-down-small' | append: settings.system_icon_thickness | inline_asset_content -}}
        </span>
      </button>
      <div id="BBFooterCurrencyList" class="disclosure_element disclosure__list tobottom bb-footer-currency__panel" hidden>
        <div class="disclosure__list__content custom__scrollbar">
          <ul role="list" class="unstyle-ul">
            {%- for country in localization.available_countries -%}
              <li tabindex="-1">
                <a
                  class="disclosure__link link link-hover-span link__base-to_accent-color body3{% if country.iso_code == localization.country.iso_code %} link-active{% endif %}"
                  href="#"
                  {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %}
                  data-value="{{ country.iso_code }}"
                >
                  <span>{{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
      <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
    </div>
  {%- endform -%}
</localization-form>
{%- endif -%}
