{%- liquid
  assign bb_cta_label = label | default: 'CONTACT US'
  assign bb_cta_url = url
  if bb_cta_url == blank
    if pages.contact != blank
      assign bb_cta_url = pages.contact.url
    else
      assign bb_cta_url = '/pages/contact'
    endif
  endif
  assign bb_cta_layout = layout | default: 'box'

  assign bb_shell_icon = icon
  if bb_shell_icon == blank and section != blank and section.settings.cta_shell_icon != blank
    assign bb_shell_icon = section.settings.cta_shell_icon
  endif
  if bb_shell_icon == blank and settings.bb_content_shell_icon != blank
    assign bb_shell_icon = settings.bb_content_shell_icon
  endif

  assign bb_shell_size = shell_size
  if bb_shell_size == blank and section != blank and section.settings.cta_shell_icon_size != blank
    assign bb_shell_size = section.settings.cta_shell_icon_size
  endif
  if bb_shell_size == blank and settings.bb_content_shell_icon_size != blank
    assign bb_shell_size = settings.bb_content_shell_icon_size
  endif
  if bb_shell_size == blank
    assign bb_shell_size = 56
  endif

  assign bb_shell_default_url = 'https://cdn.shopify.com/s/files/1/1006/3341/1874/files/bb-shell.svg?v=1782214512'
  assign bb_shell_render_width = bb_shell_size | times: 2
-%}
<div
  class="bb-seashell-cta bb-seashell-cta--{{ bb_cta_layout }}"
  style="--bb-shell-icon-size: {{ bb_shell_size }}px;"
>
  <div class="bb-seashell-cta__icon-wrap" aria-hidden="true">
    <span class="bb-seashell-cta__icon">
      {%- if bb_shell_icon != blank -%}
        <img
          src="{{ bb_shell_icon | image_url: width: bb_shell_render_width }}"
          alt=""
          width="{{ bb_shell_size }}"
          height="{{ bb_shell_size }}"
          loading="lazy"
          class="bb-seashell-cta__icon-img"
        >
      {%- else -%}
        <img
          src="{{ bb_shell_default_url }}"
          alt=""
          width="{{ bb_shell_size }}"
          height="{{ bb_shell_size }}"
          loading="lazy"
          class="bb-seashell-cta__icon-img"
        >
      {%- endif -%}
    </span>
    <span class="bb-seashell-cta__icon-rule"></span>
  </div>
  <div class="bb-seashell-cta__copy">
    <p class="bb-seashell-cta__eyebrow">Questions?</p>
    <p class="bb-seashell-cta__text">We're here to help.</p>
  </div>
  <a class="bb-seashell-cta__btn a--no-hover-color" href="{{ bb_cta_url | escape }}">{{ bb_cta_label | escape }}</a>
</div>
