{%- assign button_name_2 = block.settings.button_name_2 | default: "", allow_false: true -%}
{%- assign button_link_1 = block.settings.button_link_1 | default: "", allow_false: true -%}
{%- assign button_link_2 = block.settings.button_link_2 | default: "", allow_false: true -%}
{%- if image_hover -%}
{%- assign item_image_hover = image_hover -%}
{%- else -%}
{%- assign item_image_hover = section.settings.image_hover -%}
{%- endif -%}
<div class="section-media-buttons-parent banner__block-item a--no-hover-color hover-area banner__block-item-with-text {% if item_image_hover == "default" %}{{ settings.image_hover }}{% else %}{{ item_image_hover }}{% endif %}{% if image_ratio_value == '1.00' %} image-aspratio-round--desktop{% endif %}{% if image_ratio_mobile_value == '1.00' %} image-aspratio-round--mobile{% endif %}">
  {%- if block.settings.url != blank -%}
  <a href="{{ block.settings.url }}" class="banner__block-item__link" aria-label="{{ block.settings.heading_text }}"></a>
  {%- endif -%}
  {%- assign main_image_source = block.settings.image -%}
  {%- capture video_html -%}
  {%- if block.settings.video != blank and block.settings.content_type == "video" -%}
  <video-js class="section__video-media__box"
            data-type="video"
            data-autoplay="{% if block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endif %}"
            data-buttons="{% unless block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endunless %}">
    <video class="slide-video slide-media" playsinline=""{% if block.settings.video_slide_mode contains "muted" %} muted=""{% endif %} 
           {% if section.index == 1 %}preload="metadata"{% else %}preload="none"{% endif %}
           loop=""> 
      {%- assign sources = block.settings.video.sources | last -%}
      <source src="{{ sources.url }}"/>
    </video>
  </video-js>
  {%- liquid
      if main_image_source == blank
      assign main_image_source = block.settings.video.preview_image
      endif
  -%}
  {%- elsif block.settings.video_url != blank and block.settings.content_type == "video" -%}
  <video-youtube-js class="section__video-media__box section__video-media__youtube"
                    data-type="youtube"
                    data-mute="{% if block.settings.video_slide_mode contains "muted" %}true{% else %}false{% endif %}"
                    data-autoplay="{% if block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endif %}"
                    data-buttons="{% unless block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endunless %}">
    <div id="{{ block.settings.video_url.id }}_____{{ section.id }}{{ forloop.index }}" class="embed-player"></div>
  </video-youtube-js>
  {%- endif -%}
  {%- endcapture -%}

  {%- render "component-image",
      image_ratio_value: image_ratio_value,
      image_ratio_mobile_value: image_ratio_mobile_value,
      image_source: main_image_source,
      image_mobile_source: block.settings.image_mobile,
      load_priority_low: load_priority_low,
      section_index: section.index,
      video_html:video_html,
      placeholder_icon: placeholder_icon
  -%}
  {%- if block.settings.image_hover != blank and block.settings.content_type != "video" -%}
  {%- render "component-image",
      image_ratio_value: image_ratio_value,
      image_ratio_mobile_value: image_ratio_mobile_value,
      image_source: block.settings.image_hover,
      image_mobile_source: "",
      load_priority_low: load_priority_low,
      section_index: section.index
  -%}
  {%- endif -%}
  
  {%- capture content -%}
  {%- assign heading_after_description = block.settings.heading_after_description | default: false, allow_false: true -%}
  
  {%- if block.settings.heading_text != blank and heading_after_description == false-%}
  <div>
    {%- if block.settings.url != blank -%}<a href="{{ block.settings.url }}" class="clear-underline" aria-label="{{ block.settings.heading_text }}">{%- endif -%}
    <h2 class="mt0 mb0 banner__block-item__heading heading-color-block-hover{% if block.settings.hover_underline %} animation-underline{% endif %}">{{ block.settings.heading_text }}</h2>
    {%- if block.settings.url != blank -%}</a>{%- endif -%}
  </div>
  {%- endif -%}
    
  {%- if block.settings.desc != blank -%}<div class="mt10 body2 section__richtext__editor section__richtext__editor--mt10">{{ block.settings.desc }}</div>{%- endif -%}

  {%- if block.settings.heading_text != blank and heading_after_description == true -%}
  <div>
    {%- if block.settings.url != blank -%}<a href="{{ block.settings.url }}" class="clear-underline" aria-label="{{ block.settings.heading_text }}">{%- endif -%}
    <h2 class="mt10 mb0 banner__block-item__heading heading-color-block-hover{% if block.settings.hover_underline %} animation-underline{% endif %}">{{ block.settings.heading_text }}</h2>
    {%- if block.settings.url != blank -%}</a>{%- endif -%}
  </div>
  {%- endif -%}

  {%- if block.settings.button_name != blank -%}
  <div class="mt16 banner__block-buttons{% if block.settings.text_align == "text-center" %} justify-content-center{% elsif block.settings.text_align == "text-right" %} justify-content-end{% endif %}">
    {% assign customize_button_size = block.settings.customize_button_size | default: "default", allow_false: true %}
    {%- if block.settings.button_name != blank -%}
    {%- liquid
        if button_link_1 == blank
        assign link = block.settings.url
        else
        assign link = button_link_1
        endif
    -%}
    <{% if link == blank %}div{% else %}a href="{{ link }}"{% endif %} class="btn banner__btn__1 btn__transition-text native-hover btn-wide-mob{% if customize_button_size == 'custom' %} btn-wide{% endif %}"
      {% if customize_button_size == "custom" %} style="--button-height:{{ block.settings.btn_min_height }}px;--button-height-mob:{{ block.settings.btn_min_height_mobile }}px;--button-width-wide:{{ block.settings.btn_wide_width }}px;--radius-button:{{ block.settings.roundness_button }}px"{% endif %}
      {% if link == blank %} aria-disabled="true"{% endif %}>
      <div class="btn__texts">
        <span class="btn__top-text is-visible">{{ block.settings.button_name }}</span>
        <span class="btn__bottom-text is-hidden">{{ block.settings.button_name }}</span>
      </div>
    </{% if link == blank %}div{% else %}a{% endif %}>
    {%- endif -%}
    {%- if button_name_2 != blank -%}
    <{% if button_link_2 == blank %}div{% else %}a href="{{ button_link_2 }}"{% endif %} class="btn banner__btn__2 btn__transition-text native-hover btn-wide-mob{% if customize_button_size == 'custom' %} btn-wide{% endif %}"
      {% if customize_button_size == "custom" %} style="--button-height:{{ block.settings.btn_min_height }}px;--button-height-mob:{{ block.settings.btn_min_height_mobile }}px;--button-width-wide:{{ block.settings.btn_wide_width }}px;--radius-button:{{ block.settings.roundness_button }}px"{% endif %}
      {% if button_link_2 == blank %} aria-disabled="true"{% endif %}>
      <div class="btn__texts">
        <span class="btn__top-text is-visible">{{ button_name_2 }}</span>
        <span class="btn__bottom-text is-hidden">{{ button_name_2 }}</span>
      </div>
    </{% if button_link_2 == blank %}div{% else %}a{% endif %}>
    {%- endif -%}
  </div>
  {%- endif -%}
  {%- endcapture -%}
  {%- if content != blank -%}
  <div class="banner__block-item__content {{ block.settings.position }} {{ block.settings.position_mobile }}">
    <div class="banner__block-item__content__items mt-first-0 {{ block.settings.text_align }}{% if block.settings.show_background %} banner__background-box{% endif %}"
         style="--banner-box-padding:{{ block.settings.banner_box_padding | default: '15', allow_false: true }}px;">
      {{ content }}
    </div>
  </div>
  {%- endif -%}
  {%- unless block.settings.video_slide_mode contains "autoplay" -%}
  {%- liquid
      assign enable_buttons = false
      if block.settings.video != blank and block.settings.content_type == "video"
      assign enable_buttons = true
      elsif block.settings.video_url != blank and block.settings.content_type == "video"
      assign enable_buttons = true
      endif
      -%}
  {%- if enable_buttons -%}
  <div class="section__video-media__ctrl section__video-media-ctrl--mobile section__video-media__ctrl--js">
    <div class="icon-play">{{- 'icon-play' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
    <div class="icon-pause">{{- 'icon-pause' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
  </div>
  {%- endif -%}
  {%- endunless -%}
</div>