<div class="product-card-small hover-area {% if block.settings.image_hover == "default" %}{{ settings.image_hover }}{% else %}{{ block.settings.image_hover }}{% endif %}{% if block.settings.align_content == "center" %} align-items-center{% endif %}">
  {%- if product.featured_media != blank -%}
  <a href="{{ product.url }}" class="product-card-extra-small__image-container product-card__image-container">
    {%- liquid
        assign image_ratio_value = block.settings.image_ratio
        if forloop.index > 4
        assign load_priority_low = 'true'
        endif
        assign show_secondary_image = false
        if block.settings.show_secondary_image == true
        assign show_secondary_image = 'show_secondary_image'
        endif
    -%}
    <div class="image-hover-box__container{% if image_ratio_value == '1.00' %} image-hover-box--circle{% endif %}">
      {%- render "component-image-product-card",
          image_ratio_value: image_ratio_value,
          image_source: product.featured_media,
          image_source2: product.media[1],
          show_image_source2: show_secondary_image,
          load_priority_low: load_priority_low,
          section_index: section.index
      -%}
    </div>
  </a>
  {%- endif -%}
  <div class="product-card-small__content mt--first-child-0">
    {%- capture badges -%}
    {%- if product.available == false and block.settings.show_badge_sold_out -%}
    <span class="badges-item__small badges-item__sold-out">{{ 'products.product.sold_out' | t }}</span>
    {%- elsif product.compare_at_price > product.price and product.available and block.settings.show_badge_on_sale -%}
    <span class="badges-item__small badges-item__sale">{{ 'products.product.on_sale' | t }}</span>
    {%- endif -%}
    {%- if product.metafields.softali.featured_badge != blank and block.settings.show_badge_feature -%}
    <span class="badges-item__small badges-item__main">{{ product.metafields.softali.featured_badge }}</span>
    {%- endif -%}
    {%- endcapture -%}
    
    {%- if badges != blank -%}
    <div class="badges__container">{{- badges -}}</div>
    {%- endif -%}

    {%- if block.settings.show_vendor and product.vendor != blank -%}
    <div class="body3 mt3">
      <a class="mt0 product-card-small__meta link link__base-to_accent-color text-uppercase a--no-hover-color native-hover"
         href="{{ routes.collections_url }}/all?filter.p.vendor={{ product.vendor | escape }}">{{ product.vendor }}</a>
    </div>
    {%- endif -%}

    {%- assign truncate_product_name = block.settings.truncate_product_name -%}
    {%- assign last_characters = 'general.abbreviation_of_text_in_a_section.last_characters' | t -%}
    <div class="body2 mt3">
      <a href="{{ product.url }}" class="product-card-small__heading heading-color-block-hover a--no-hover-color clear-underline{% if block.settings.hover_underline %} animation-underline{% endif %} native-hover">
        {%- if truncate_product_name -%}
        {{ product.title | escape | truncate: 48,last_characters }}
        {%- else -%}
        {{ product.title | escape }}
        {%- endif -%}
      </a>
    </div>
    {%- if block.settings.show_price -%}
    {%- render 'price', product: product, size:settings.product_card_price_size -%}
    {%- endif -%}
    {%- if settings.enable_rating -%}{%- if block.settings.enable_rating_product_card -%}
    {%- render 'review-stars' _product: product -%}
    {%- endif -%}{%- endif -%}

    {%- assign button_type_product = block.settings.button_type_product -%}
    {%- assign id_code = 'card-' | append:product.id | append: section.id -%}
    {%- if button_type_product != "hide" and settings.cart_type != "catalog_mode" -%}
    <product-form class="product-card__interface{% if block.settings.button_type_product_mobile == false %} product-card__interface--hide-mobile{% endif %}">
      {%- assign product_card_product_id = section.id | append: product.id -%}
      {%- form 'product', product, id: product_card_product_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <div id="form-{{ id_code }}"
           class="product-card__form"
        >
        {%- assign current_variant = product.selected_or_first_available_variant -%}
        <input type="hidden" name="id" value="{{ current_variant.id }}">
        <button type="submit"
                name="add"
                class="quick-add__submit btn btn__transition-text btn-card-width native-hover{% if button_type_product == "only_icon" %} only-child{% endif %}"
                data-type="{% if show_quantity %}type0{% elsif button_type_product == "only_icon" %}type1{% elsif button_type_product == "only_text" %}type2{% elsif button_type_product == "show" %}type3{% endif %}"
                {% if current_variant.available == false %}
                disabled
                aria-disabled="true"
                {% endif %}
                >
          <div class="btn__texts">
            {%- if show_quantity -%}
            <span class="btn__top-text is-visible">
            {%- render "icon-cart" -%}
            </span>
            <span class="btn__bottom-text is-hidden">
            {%- render "icon-cart" -%}
            </span>
            {%- else -%}
            <span class="btn__top-text is-visible">
            {%- if current_variant.available -%}
            {%- if button_type_product != "only_text" -%}{%- render "icon-cart" -%}{%- endif -%}
            {%- if button_type_product != "only_icon" -%}
            {%- if current_variant.inventory_management == 'shopify' and current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity <= 0 -%}
            {{ "products.product.preorder" | t }}
            {%- else -%}
            {{ 'products.product.add_to_cart' | t }}
            {%- endif -%}
            {%- endif -%}
            {%- else -%}{{ 'products.product.sold_out' | t }}{%- endif -%}
            </span>
            <span class="btn__bottom-text is-hidden">
            {%- if current_variant.available -%}
            {%- if button_type_product != "only_text" -%}{%- render "icon-cart" -%}{%- endif -%}
            {%- if button_type_product != "only_icon" -%}
            {%- if current_variant.inventory_management == 'shopify' and current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity <= 0 -%}
            {{ "products.product.preorder" | t }}
            {%- else -%}
            {{ 'products.product.add_to_cart' | t }}
            {%- endif -%}
            {%- endif -%}
            {%- else -%}{{ 'products.product.sold_out' | t }}{%- endif -%}
            </span>
            {%- endif -%}
          </div>
          <div class="loading-overlay__spinner hidden">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>
      </div>
      {%- endform -%}
    </product-form>
    {%- endif -%}
  </div>
</div>