{%- liquid
    if show_line == true or show_line == false
    assign show_line = show_line | default: false, allow_false: true
    else
    assign show_line = section.settings.show_lines
    endif
    if boxed_line
    assign line_width = 'content_width'
    else
    assign line_width = section.settings.lines_width
    endif
-%}
{%- capture page_width -%}{%- if section.settings.width != "default" %}{{ section.settings.width }}{%- else -%}{{ settings.page_width_main }}{%- endif -%}{%- endcapture -%}
{%- assign section_settings_background = false -%}{%- if section.settings.background != 'hide' and section.settings.background_width == "content_width" -%}{%- assign section_settings_background = true -%}{%- endif -%}
{%- if show_line -%}
<div class="top-spacing-{{ section.settings.top_spacing }}"></div>
{%- if line_width == "content_width" or section_settings_background %}<div class="{{ page_width }} background__page-padding0">{% endif -%}
  {%- if section_settings_background %}<div class="section-background section-background--no-color">{% endif -%}
  <div id="theme-section-{{ section.id }}-line" class="background__horizontal-line"></div>
{%- if section_settings_background %}</div>{% endif -%}
{%- if line_width == "content_width" or section_settings_background %}</div>{% endif -%}
{%- endif -%}