{%- if request.visual_preview_mode -%}
{{ 'section-banners-with-text-outside.css' | asset_url | stylesheet_tag }}
{%- endif -%}
<div id="theme-block-{{ block.id }}" {{ block.shopify_attributes }}
     {% if block.settings.enable_dynamic_grid == true %}style="--width-desktop:{{ block.settings.grid_width_desktop }}%;"{% endif %}
  >
  <style>
  {%- capture __css -%}
  {%- if block.settings.color_desc               != "rgba(0,0,0,0)" -%}--color-text-block:{{ block.settings.color_desc }};color:{{ block.settings.color_desc }};{%- endif -%}
  {%- if block.settings.heading_text_link        != "rgba(0,0,0,0)" -%}--color-heading-link-block:{{ block.settings.heading_text_link }};{%- endif -%}
  {%- if block.settings.heading_text_link_hover  != "rgba(0,0,0,0)" -%}--color-heading-hover-block:{{ block.settings.heading_text_link_hover }};{%- endif -%}
  {%- if block.settings.roundness_type == "custom" -%}--custom-image-radius:{{ block.settings.roundness }}px;{%- endif -%}
  
  {%- if block.settings.color_button_border      != "rgba(0,0,0,0)" -%}
    --color-button-border_main:{{ block.settings.color_button_border }};
    --border-button-width_main:{{ settings.button_border_width_main }}px;
  {%- endif -%}
  {%- if block.settings.color_button_border_hover!= "rgba(0,0,0,0)" -%}
    --color-button-border-hover_main:{{ block.settings.color_button_border_hover }};
    --border-button-width-hover_main:{{ settings.button_border_width_main }}px;
  {%- endif -%}
  {%- if block.settings.color_button_text        != "rgba(0,0,0,0)" -%}--color-button-text_main:{{ block.settings.color_button_text }};{%- endif -%}
  {%- if block.settings.color_button_text_hover  != "rgba(0,0,0,0)" -%}--color-button-text-hover_main:{{ block.settings.color_button_text_hover }};{%- endif -%}
  {%- if block.settings.show_button_bg -%}
  {%- if block.settings.color_button_gradient != blank or block.settings.color_button != "rgba(0,0,0,0)" -%}
  --color-button-block:{%- if block.settings.color_button_gradient == blank -%}{{ block.settings.color_button }}{%- else -%}{{ block.settings.color_button_gradient }}{%- endif -%};
  {%- endif -%}
  {%- else -%}
  --color-button-block:rgba(0,0,0,0);
  {%- endif -%}
  {%- if block.settings.show_button_bg_hover -%}
  {%- if block.settings.color_button_gradient_hover != blank or block.settings.color_button_hover != "rgba(0,0,0,0)" -%}  
  --color-button-hover-block:{%- if block.settings.color_button_gradient_hover == blank -%}{{ block.settings.color_button_hover }}{%- else -%}{{ block.settings.color_button_gradient_hover }}{%- endif -%};
  {%- endif -%}
  {%- else -%}
  --color-button-hover-block:rgba(0,0,0,0);
  {%- endif -%}
  {%- if block.settings.show_button_bg_hover == false -%}
  --color-button-opacity-hover_main:0;
  {%- endif -%}
  {%- if block.settings.show_shadow_button -%}
  {%- if section.settings.color_base != "rgba(0,0,0,0)" or block.settings.color_shadow_button != "rgba(0,0,0,0)" -%}
  {%- assign shadow_opacity = settings.shadow_opacity_button_main | divided_by: 100.00 -%}
  {%- if block.settings.color_shadow_button != "rgba(0,0,0,0)" -%}{%- assign __color = block.settings.color_shadow_button -%}{%- else -%}{%- assign __color = section.settings.color_base -%}{%- endif -%}
  --shadow-button_main: {{ settings.horizontal_length_button_main }}px {{ settings.vertical_length_button_main }}px {{ settings.blur_radius_button_main }}px 0 {{ __color | color_modify: 'alpha', shadow_opacity }};
  {%- endif -%}
  {%- if section.settings.color_base != "rgba(0,0,0,0)" or block.settings.color_shadow_hover_button != "rgba(0,0,0,0)" -%}
  {%- assign shadow_opacity = settings.shadow_opacity_hover_button_main | divided_by: 100.00 -%}
  {%- if block.settings.color_shadow_hover_button != "rgba(0,0,0,0)" -%}{%- assign __color = block.settings.color_shadow_hover_button -%}{%- else -%}{%- assign __color = section.settings.color_base -%}{%- endif -%}
  --shadow-button-hover_main: {{ settings.horizontal_length_hover_button_main }}px {{ settings.vertical_length_hover_button_main }}px {{ settings.blur_radius_hover_button_main }}px 0 {{ __color | color_modify: 'alpha', shadow_opacity }};
  {%- endif -%}
  {%- else -%}
  --shadow-button_main:none;
  --shadow-button-hover_main:none;
  {%- endif -%}
  {%- endcapture -%}
  {%- if __css != blank -%}
  #theme-block-{{ block.id }}{
    {{ __css }}
  }
  {%- endif -%}
  </style>

  {%- render "component-banner-item-text-outside",
      section:section,
      block:block,
      image_ratio_value: block.settings.image_ratio,
      image_ratio_mobile_value: 1
  -%}
</div>

{% schema %}
  {
    "name": "Banner with text outside",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_dynamic_grid",
        "default": false,
        "label": "t:options.header.dynamic_width_desktop"
      },
      {
        "visible_if": "{{ block.settings.enable_dynamic_grid == true }}",
        "type": "range",
        "id": "grid_width_desktop",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 25,
        "unit": "%",
        "label": "t:options.header.width_desktop"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_hover",
        "label": "Image hover"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "0.75",
            "label": "Portrait (3:4)"
          },
          {
            "value": "1.333333",
            "label": "Landscape (4:3)"
          },
          {
            "value": "1",
            "label": "Square (1:1)"
          },
          {
            "value": "1.00",
            "label": "Round (1:1)"
          },
          {
            "value": "0.5625",
            "label": "Social story (9:16)"
          },
          {
            "value": "1.777777",
            "label": "Widescreen (16:9)"
          }
        ],
        "default": "auto",
        "label": "Image ratio"
      },
      {
        "type": "select",
        "id": "roundness_type",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "custom",
            "label": "Custom"
          }
        ],
        "default": "default",
        "label": "Roundness of the image"
      },
      {
        "visible_if": "{{ block.settings.roundness_type == 'custom' }}",
        "type": "range",
        "id": "roundness",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "Custom roundness",
        "default": 20
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "heading_text",
        "default": "Heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "desc",
        "default": "Tell more about your product, collection...",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "button_name",
        "default": "Button",
        "label": "Button"
      },
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "Extra Large"
          },
          {
            "value": "h3",
            "label": "Large"
          },
          {
            "value": "h4",
            "label": "Medium"
          },
          {
            "value": "h5",
            "label": "Small"
          },
          {
            "value": "h6",
            "label": "Extra small"
          }
        ],
        "default": "h3",
        "label": "Heading size"
      },
      {
        "type": "checkbox",
        "id": "hover_underline",
        "default": true,
        "label": "Underline on hover"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          }
        ],
        "default": "text-center",
        "label": "Text align"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "heading_text_link",
        "default":"rgba(0,0,0,0)",
        "label": "Link"
      },
      {
        "type": "color",
        "id": "heading_text_link_hover",
        "default":"rgba(0,0,0,0)",
        "label": "Link hover"
      },
      {
        "type": "color",
        "id": "color_desc",
        "default":"rgba(0,0,0,0)",
        "label": "Description"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "checkbox",
        "id": "show_button_bg",
        "default": true,
        "label": "Show background"
      },
      {
        "visible_if": "{{ block.settings.show_button_bg == true }}",
        "type": "color",
        "id": "color_button",
        "default":"rgba(0,0,0,0)",
        "label": "Background"
      },
      {
        "visible_if": "{{ block.settings.show_button_bg == true }}",
        "type": "color_background",
        "id": "color_button_gradient",
        "label": "Background gradient"
      },
      {
        "type": "color",
        "id": "color_button_border",
        "default":"rgba(0,0,0,0)",
        "label": "Border"
      },
      {
        "type": "color",
        "id": "color_button_text",
        "default":"rgba(0,0,0,0)",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "show_button_bg_hover",
        "default": true,
        "label": "Show background on hover"
      },
      {
        "visible_if": "{{ block.settings.show_button_bg_hover == true }}",
        "type": "color",
        "id": "color_button_hover",
        "default":"rgba(0,0,0,0)",
        "label": "Background hover"
      },
      {
        "visible_if": "{{ block.settings.show_button_bg_hover == true }}",
        "type": "color_background",
        "id": "color_button_gradient_hover",
        "label": "Background gradient hover"
      },
      {
        "type": "color",
        "id": "color_button_border_hover",
        "default":"rgba(0,0,0,0)",
        "label": "Border hover"
      },
      {
        "type": "color",
        "id": "color_button_text_hover",
        "default":"rgba(0,0,0,0)",
        "label": "Text hover"
      },
      {
        "type": "checkbox",
        "id": "show_shadow_button",
        "default": true,
        "label": "Enable shadow"
      },
      {
        "visible_if": "{{ block.settings.show_shadow_button == true }}",
        "type": "color",
        "id": "color_shadow_button",
        "default":"rgba(0,0,0,0)",
        "label": "Shadow"
      },
      {
        "visible_if": "{{ block.settings.show_shadow_button == true }}",
        "type": "color",
        "id": "color_shadow_hover_button",
        "default":"rgba(0,0,0,0)",
        "label": "Shadow hover"
      }      
    ],
    "presets": [
      {
      	"name": "Banner with text outside"
      }
    ]
  }
{% endschema %}