<link rel="stylesheet" href="{{ 'component-inputs.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer__account top-spacing-normal {{ settings.page_width_main }}">
  <div class="page-grid-1 page-width-half section-heading-container">
    <h1 class="mt0 mb0 text-center">{{ 'customer.reset_password.title' | t }}</h1>
  </div>
  <div class="page-grid-1 page-width-one-third">
    <div>
      <p class="mt0 mb30">
        {{ 'customer.reset_password.subtext' | t: email: email }}
      </p>
  
      {%- form 'reset_customer_password' -%}
        {%- if form.errors -%}
        <div class="errors-container errors mb30">
          <h6 class="mt20 mb0" autofocus>
            {{ 'templates.contact.form.error_heading' | t }}
          </h6>
          <ul>
            {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
              {%- else -%}
              <a href="#{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
        </div>
        {%- endif -%}
        <div class="field field-with-icon">
          <input class="field__input"
                 type="password"
                 name="customer[password]"
                 id="password"
                 autocomplete="new-password"
                 {% if form.errors contains 'password' %}
                 aria-invalid="true"
                 aria-describedby="password-error"
                 {% endif %}
                 placeholder="{{ 'customer.reset_password.password' | t }}"
                 required
                 >

          {%- if form.errors contains 'password' -%}
          <label class="field__label field__label--error" for="password-error">{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}</label>
          {%- else -%}
          <label class="field__label" for="password">{{ 'customer.reset_password.password' | t }}</label>
          {%- endif -%}
          <div class="field__icon">
            {{- 'icon-lock' | append: settings.system_icon_thickness | inline_asset_content -}}
          </div>
        </div>
        
        <div class="field field-with-icon form-inputs-top-spacing">
          <input class="field__input"
                 type="password"
                 name="customer[password_confirmation]"
                 id="password_confirmation"
                 autocomplete="new-password"
                 {% if form.errors contains 'password_confirmation' %}
                 aria-invalid="true"
                 aria-describedby="password_confirmation-error"
                 {% endif %}
                 placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                 required
                 >

          {%- if form.errors contains 'password' -%}
          <label class="field__label field__label--error" for="password_confirmation-error">{{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}</label>
          {%- else -%}
          <label class="field__label" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          {%- endif -%}
          <div class="field__icon">
            {{- 'icon-lock' | append: settings.system_icon_thickness | inline_asset_content -}}
          </div>
        </div>

        <button class="btn btn__transition-text w-full form-inputs-top-spacing-button">
          <div class="btn__texts">
            <span class="btn__top-text is-visible">{{ 'customer.reset_password.submit' | t }}</span>
            <span class="btn__bottom-text is-hidden">{{ 'customer.reset_password.submit' | t }}</span>
          </div>
        </button>
      {%- endform -%}
    </div>
  </div>
  <div class="page-grid-1 page-width-one-third">
    {% render 'bb-customer-privacy-note' %}
  </div>
</div>
