{%- if section.settings.swipe -%}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'component-swiper-slider.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- capture section_styles -%}
{%- capture __css -%}
{%- if section.settings.color_base   != "rgba(0,0,0,0)" -%}--color-base-section:{{ section.settings.color_base }};{%- endif -%}
{%- if section.settings.color_accent != "rgba(0,0,0,0)" -%}--color-accent-section:{{ section.settings.color_accent }};{%- endif -%}
{%- if section.settings.color_lines  != "rgba(0,0,0,0)" -%}--color-lines:{{ section.settings.color_lines }};{%- endif -%}
{%- if section.settings.color_desc  != "rgba(0,0,0,0)" -%}--color-text:{{ section.settings.color_desc }};{%- endif -%}
{%- if section.settings.color_text_link != "rgba(0,0,0,0)" -%}--color-heading-link-block:{{ section.settings.color_text_link }};{%- endif -%}
{%- if section.settings.color_text_link_hover != "rgba(0,0,0,0)" -%}--color-heading-hover-block:{{ section.settings.color_text_link_hover }};{%- endif -%}
{%- if section.settings.color_media_arrows    != "rgba(0,0,0,0)" -%}--swiper-pagination-arrow-block:{{ section.settings.color_media_arrows }};{%- endif -%}
{%- if section.settings.color_media_dots      != "rgba(0,0,0,0)" -%}--swiper-pagination-bullet-block:{{ section.settings.color_media_dots }};{%- endif -%}  
{%- endcapture -%}
{%- if __css != blank -%}
#theme-section-{{ section.id }}{
  {{ __css }}
}
{%- endif -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
<style>{{ section_styles }}</style>
{%- endif -%}

{%- render "section-css-background", section:section -%}
{%- render "section-component-top-line", section:section -%}
{%- capture page_width -%}{%- if section.settings.width != "default" %}{{ section.settings.width }}{%- else -%}{{ settings.page_width_main }}{%- endif -%}{%- endcapture -%}
{%- assign section_settings_background = false -%}{%- if section.settings.background != 'hide' and section.settings.background_width == "content_width" -%}{%- assign section_settings_background = true -%}{%- endif -%}

{%- assign data_grid_xl = section.settings.grid | split: "page-grid-" | last -%}
{%- assign data_grid_lg = section.settings.grid | split: "page-grid-lg-" | last | split: " " | first -%}
{%- assign data_grid_md = section.settings.grid | split: "page-grid-md-" | last | split: " " | first -%}

<div id="theme-section-{{ section.id }}"
     class="{% if section.settings.show_lines == false or section.settings.background == 'hide' %}top-spacing-{{ section.settings.top_spacing }}{% endif %}{% if section.settings.background != 'hide' and section.settings.background_width == "fullwidth" %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
     data-section-name="collection-list">
  <div class="{{ page_width }}{% if section_settings_background %} section-background--mobile-width{% endif %}">
  {%- if section_settings_background -%}<div class="section-background section-background--{{ section.settings.background_spacing }} border__radius">{%- endif -%}
    {%- if section.settings.background != 'show' and section.settings.show_parallax -%}<div class="section-background__elements"><div class="section-background__elements__item"></div></div>{%- endif -%}
    {%- render "section-heading" section:section -%}

    {%- capture content -%}
    {%- for block in section.blocks -%}
    {%- if section.settings.swipe -%}<div class="swiper-slide" lazy="true">{%- endif -%}
    <div id="theme-block-{{ block.id }}" {{ block.shopify_attributes }}>
      {%- liquid
          capture placeholder_icon
          cycle 'collection-apparel-1', 'collection-apparel-2', 'collection-apparel-3', 'collection-apparel-4'
          endcapture
          if forloop.index > 1
          assign load_priority_low = 'true'
          endif
      -%}
    
      {%- assign image_ratio_value = section.settings.image_ratio -%}
      {%- if block.settings.collection == blank -%}
      <div class="collection-list hover-area {% if section.settings.image_hover == "default" %}{{ settings.image_hover }}{% else %}{{ section.settings.image_hover }}{% endif %}">
        <div class="image-hover-box__container{% if image_ratio_value == '1.00' %} image-hover-box--circle{% endif %}">
          {%- render "component-image",
              image_ratio_value: image_ratio_value,
              image_source: '',
              load_priority_low: load_priority_low,
              section_index: section.index,
              mobile_grid:section.settings.mobile_grid,
              placeholder_icon:placeholder_icon
          -%}
        </div>
    
        <div class="mt13 {{ section.settings.text_align }}">
          <div class="mt0 mb0 collection-list__heading {{ section.settings.heading_size }} heading-color-block-hover{% if section.settings.hover_underline %} animation-underline{% endif %}">{{ 'onboarding.collection_title' | t }}</div>
          {%- if section.settings.show_products_count -%}
          <p class="body3 mt6 collection-list__text">{{ 'sections.collection_list.items_count' | t: count: 0 }}</p>
          {%- endif -%}
        </div>
      </div>
      {%- else -%}
    
      {%- liquid
          if block.settings.custom_link != blank
          assign href = block.settings.custom_link
          else
          assign href = block.settings.collection.url
          endif
          assign image_source = ''
          if block.settings.image != blank
          assign image_source = block.settings.image
          elsif block.settings.collection.featured_image != blank
          assign image_source = block.settings.collection.featured_image
          endif
      -%}
        
      <a href="{{ href }}" class="collection-list clear-underline a--no-hover-color hover-area {% if section.settings.image_hover == "default" %}{{ settings.image_hover }}{% else %}{{ section.settings.image_hover }}{% endif %}">
        <div class="image-hover-box__container{% if image_ratio_value == '1.00' %} image-hover-box--circle{% endif %}">
          {%- render "component-image",
              image_ratio_value: image_ratio_value,
              image_source: image_source,
              load_priority_low: load_priority_low,
              section_index: section.index,
              mobile_grid:section.settings.mobile_grid,
              placeholder_icon:placeholder_icon
          -%}
        </div>
    
        <div class="mt13 {{ section.settings.text_align }}">
          <div class="mt0 mb0 collection-list__heading {{ section.settings.heading_size }} heading-color-block-hover{% if section.settings.hover_underline %} animation-underline{% endif %}">
            {%- if block.settings.collection_name != blank -%}
            {{- block.settings.collection_name -}}
            {%- else -%}
            {{- block.settings.collection.title | escape -}}
            {%- endif -%}
          </div>
          {%- if section.settings.show_products_count -%}
          <p class="body3 mt6 collection-list__text">{{ 'sections.collection_list.items_count' | t: count: block.settings.collection.products_count }}</p>
          {%- endif -%}
        </div>
      </a>
      {%- endif -%}
    </div>
    {%- if section.settings.swipe -%}</div>{%- endif -%}
    {%- endfor -%}
    {%- endcapture -%}
    
    {%- if section.settings.swipe -%}
    <div class="page-grid-1 no-row-gap swiper-no-mask-mobile{% if section.settings.heading_aligment == "text-center" %} justify-content-center{% endif %}">
      {%- assign data_tablet_grid_lg = section.settings.grid_tablet | split: "page-grid-st-" | last -%}
      {%- assign data_grid = section.settings.mobile_grid | append: "," | append: data_tablet_grid_lg | append: "," | append:data_grid_md | append: "," | append:data_grid_lg | append: "," | append:data_grid_xl -%}
      <swiper-slider class="swiper{% if section.settings.swipe_edges == true %} swiper-no-mask{% endif %}"
                     data-swiper-desktop-grid="{{ data_grid_xl }}"
                     data-swiper-desktop-lg-grid="{{ data_grid_lg }}"
                     data-swiper-desktop-md-grid="{{ data_grid_md }}"
                     data-swiper-tablet-grid="{{ data_tablet_grid_lg }}"
                     data-swiper-mobile-grid="{{ section.settings.mobile_grid }}"
                     data-gutter="{{ settings.spacing_grid_horizontal }}"
                     data-gutter-mobile="15"
                     data-grid="{{ data_grid }}"
                     {% if section.settings.autoplay_enabled and request.design_mode == false %} data-autoplay-delay="{{ section.settings.autoplay_time | times: 1000 }}"{% endif %}
                     data-autoplay="{%- if section.settings.autoplay_enabled and request.design_mode == false -%}true{%- else -%}false{%- endif -%}"
                     data-script="{{ 'swiper-bundle.min.js' | asset_url }}"
        >
        <div class="swiper-wrapper swiper-wrapper--max-height">
          {{ content }}
        </div>
      </swiper-slider>
      <div class="swiper-control-container{% if section.settings.heading_aligment == "text-center" %} justify-content-center{% endif %}">
        <div class="custom-swiper-button-prev{% unless section.settings.desktop_navigation contains "arrows" %} hide-desktop{% endunless %}">{{- 'icon-arrow-left' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
        <div class="swiper-pagination{% unless section.settings.desktop_navigation contains "dots" %} hide-desktop{% endunless %}{% unless section.settings.mobile_navigation contains "dots" %} hide-mobile-xl-st{% endunless %}"></div>
        <div class="custom-swiper-button-next{% unless section.settings.desktop_navigation contains "arrows" %} hide-desktop{% endunless %}">{{- 'icon-arrow-right' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
      </div>
    </div>      
    {%- else -%}
    <div class="page-grid-sp-{{ section.settings.mobile_grid }} {{ section.settings.grid_tablet }} {{ section.settings.grid }} page-vertical-gap-40{% if section.settings.heading_aligment == "text-center" %} justify-content-center{% endif %}">
      {{ content }}
    </div>
    {%- endif -%}

    {% if section_settings_background %}</div>{%- endif -%}
  </div>
</div>

{%- if section.settings.swipe -%}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:names.collection_list_type_1",
  "tag": "section",
  "disabled_on": {
    "groups": ["header","footer","custom.popups"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "main_subheading",
      "default": "Subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "main_heading",
      "default": "Collection List Type 1",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "main_desc",
      "default": "Highlight the best collections in your store.",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "heading_aligment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ],
      "default": "text-center",
      "label": "Heading alignment"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "top_spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "normal",
      "label": "Top spacing"
    },
    {
      "type": "select",
      "id": "width",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "page-width",
          "label": "Boxed"
        },
        {
          "value": "page-wide",
          "label": "Wide"
        }
      ],
      "default": "default",
      "label": "Width",
      "info": "The Wide option works for screens with 1440px width and more."
    },
    {
      "type": "select",
      "id": "grid",
      "options": [
        {
          "value": "page-grid-md-2 page-grid-lg-2 page-grid-2",
          "label": "2"
        },
        {
          "value": "page-grid-md-3 page-grid-lg-3 page-grid-3",
          "label": "3"
        },
        {
          "value": "page-grid-md-4 page-grid-lg-4 page-grid-4",
          "label": "4"
        },
        {
          "value": "page-grid-md-5 page-grid-lg-5 page-grid-5",
          "label": "5"
        },
        {
          "value": "page-grid-md-6 page-grid-lg-6 page-grid-6",
          "label": "6"
        },
        {
          "value": "page-grid-md-6 page-grid-lg-7 page-grid-7",
          "label": "7"
        },
        {
          "value": "page-grid-md-6 page-grid-lg-8 page-grid-8",
          "label": "8"
        },
        {
          "value": "page-grid-md-6 page-grid-lg-8 page-grid-9",
          "label": "9"
        },
        {
          "value": "page-grid-md-6 page-grid-lg-8 page-grid-10",
          "label": "10"
        },
        {
          "value": "page-grid-md-6 page-grid-lg-8 page-grid-11",
          "label": "11"
        },
        {
          "value": "page-grid-md-6 page-grid-lg-8 page-grid-12",
          "label": "12"
        }
      ],
      "default": "page-grid-md-4 page-grid-lg-4 page-grid-4",
      "label": "Number of columns"
    },
    {
      "type": "select",
      "id": "grid_tablet",
      "options": [
        {
          "value": "page-grid-st-1",
          "label": "1"
        },
        {
          "value": "page-grid-st-2",
          "label": "2"
        },
        {
          "value": "page-grid-st-3",
          "label": "3"
        },
        {
          "value": "page-grid-st-4",
          "label": "4"
        },
        {
          "value": "page-grid-st-5",
          "label": "5"
        },
        {
          "value": "page-grid-st-6",
          "label": "6"
        }
      ],
      "default": "page-grid-st-4",
      "label": "Number of columns on tablet"
    },
    {
      "type": "select",
      "id": "mobile_grid",
      "options": [
        {
          "value": "1",
          "label": "One item per row"
        },
        {
          "value": "2",
          "label": "Two items per row"
        }
      ],
      "default": "2",
      "label": "Mobile grid"
    },
    {
      "type": "header",
      "content": "Сollections"
    },
    {
      "type": "select",
      "id": "image_hover",
      "options": [
        {
          "value": "default",
          "label": "Basic theme settings"
        },
        {
          "value": "image-hover-none",
          "label": "Disable"
        },
        {
          "value": "image-hover01",
          "label": "Zoom in #1"
        },
        {
          "value": "image-hover01 image-hover01-rotate",
          "label": "Zoom in and rotate"
        },
        {
          "value": "image-hover02",
          "label": "Zoom in #2"
        },
        {
          "value": "image-hover03",
          "label": "Zoom out #1"
        },
        {
          "value": "image-hover04",
          "label": "Zoom out #2"
        },
        {
          "value": "image-hover05",
          "label": "Slide"
        },
        {
          "value": "image-hover06",
          "label": "Shine"
        }
      ],
      "default": "default",
      "label": "Image hover effect"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "0.75",
          "label": "Portrait (3:4)"
        },
        {
          "value": "1.333333",
          "label": "Landscape (4:3)"
        },
        {
          "value": "1",
          "label": "Square (1:1)"
        },
        {
          "value": "1.00",
          "label": "Round (1:1)"
        },
        {
          "value": "0.5625",
          "label": "Social story (9:16)"
        },
        {
          "value": "1.777777",
          "label": "Widescreen (16:9)"
        }
      ],
      "default": "auto",
      "label": "Image ratio"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ],
      "default": "text-center",
      "label": "Text align"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "Normal"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h5",
      "label": "Heading size"
    },
    {
      "type": "checkbox",
      "id": "hover_underline",
      "default": true,
      "label": "Underline on hover"
    },
    {
      "type": "checkbox",
      "id": "show_products_count",
      "default": true,
      "label": "Show products count"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "swipe",
      "default": false,
      "label": "Enable slider"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "checkbox",
      "id": "swipe_edges",
      "default": false,
      "label": "Show edges"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "select",
      "id": "desktop_navigation",
      "options": [
        {
          "value": "none",
          "label": "Disable"
        },
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "arrows",
          "label": "Arrows"
        },
        {
          "value": "dots_arrows",
          "label": "Dots and arrows"
        }
      ],
      "default": "dots_arrows",
      "label": "Desktop navigation"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "select",
      "id": "mobile_navigation",
      "options": [
        {
          "value": "none",
          "label": "Disable"
        },
        {
          "value": "dots",
          "label": "Dots"
        }
      ],
      "default": "dots",
      "label": "Mobile navigation"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "checkbox",
      "id": "autoplay_enabled",
      "default": false,
      "label": "Enable autoplay"
    },
    {
      "visible_if": "{{ section.settings.swipe == true and section.settings.autoplay_enabled == true }}",
      "type": "range",
      "id": "autoplay_time",
      "min": 2,
      "max": 40,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "info": "It doesn't work in the theme editor. Once done with slide configuration, you may manually switch to the next slide using arrows.",
      "default": 5
    },
    {
      "type": "header",
      "content": "Dividing line"
    },
    {
      "type": "checkbox",
      "id": "show_lines",
      "default": false,
      "label": "Show"
    },
    {
      "visible_if": "{{ section.settings.show_lines == true }}",
      "type": "select",
      "id": "lines_width",
      "options": [
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        },
        {
          "value": "content_width",
          "label": "Content width"
        }
      ],
      "default": "fullwidth",
      "label": "Width",
      "info": "Doesn't work on mobile phone"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "select",
      "id": "background",
      "options": [
        {
          "value": "hide",
          "label": "Hide"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "hide",
      "label": "Background"
    },
    {
      "visible_if": "{{ section.settings.background == 'color' }}",
      "type": "color",
      "id": "color_background",
      "default": "rgba(0,0,0,0)",
      "label": "Color"
    },
    {
      "visible_if": "{{ section.settings.background == 'gradient' }}",
      "type": "color_background",
      "id": "gradient",
      "label": "Gradient"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "image_picker",
      "id": "background_image",
      "label": "Image"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank }}",
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 0
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank and section.settings.image_overlay_opacity > 0 }}",
      "type": "color",
      "id": "image_overlay_color",
      "default":"rgba(0,0,0,0)",
      "label": "Image overlay color"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Image mobile"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank }}",
      "type": "range",
      "id": "image_overlay_opacity_mobile",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity. Mobile",
      "default": 0
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank and section.settings.image_overlay_opacity_mobile > 0 }}",
      "type": "color",
      "id": "image_overlay_color_mobile",
      "default":"rgba(0,0,0,0)",
      "label": "Image overlay color. Mobile"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "checkbox",
      "id": "show_parallax",
      "default": false,
      "label": "Enable parallax effect"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "select",
      "id": "imagealign",
      "label": "Image position",
      "info": "Works for all screens",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "select",
      "id": "imagesize",
      "label": "Image size",
      "info": "Works for all screens",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Full background size"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ]
    },
    {
      "visible_if": "{{ section.settings.background != 'hide' }}",
      "type": "select",
      "id": "background_width",
      "options": [
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        },
        {
          "value": "content_width",
          "label": "Content width"
        }
      ],
      "default": "fullwidth",
      "label": "Width"
    },
    {
      "visible_if": "{{ section.settings.background != 'hide' }}",
      "type": "select",
      "id": "background_spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "normal",
      "label": "Top, bottom spacing"
    },
    {
      "visible_if": "{{ section.settings.background != 'hide' }}",
      "type": "checkbox",
      "id": "remove_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_base",
      "default":"rgba(0,0,0,0)",
      "label": "Base"
    },
    {
      "type": "color",
      "id": "color_accent",
      "default":"rgba(0,0,0,0)",
      "label": "Accent"
    },
    {
      "type": "color",
      "id": "color_lines",
      "default":"rgba(0,0,0,0)",
      "label": "Lines"
    },
    {
      "type": "header",
      "content": "Collection"
    },
    {
      "type": "color",
      "id": "color_text_link",
      "default":"rgba(0,0,0,0)",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "color_text_link_hover",
      "default":"rgba(0,0,0,0)",
      "label": "Heading link hover"
    },
    {
      "type": "color",
      "id": "color_desc",
      "default":"rgba(0,0,0,0)",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Media button"
    },
    {
      "type": "color",
      "id": "color_media_arrows",
      "default": "rgba(0,0,0,0)",
      "label": "Slider arrows"
    },
    {
      "type": "color",
      "id": "color_media_dots",
      "default": "rgba(0,0,0,0)",
      "label": "Slider dots"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "visible_if": "{{ block.settings.collection != blank }}",
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "visible_if": "{{ block.settings.collection != blank }}",
          "type": "text",
          "id": "collection_name",
          "label": "Collection name"
        },
        {
          "visible_if": "{{ block.settings.collection != blank }}",
          "type": "url",
          "id": "custom_link",
          "label": "Custom link",
          "info": "Highest priority"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "t:names.collection_list_type_1",
        "category": "t:categories.collections",
        "blocks": [
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          }
        ]
      }
    ]
}
{% endschema %}
