<style>
.header__heading-logo--svg svg{
    width:var(--max-width);
    height:var(--max-height);
}
@media (max-width:576px){
    .header__heading-logo--svg svg{
        max-width:100%;
    }
    .header__heading-logo{
        max-width:100%!important;
        height:auto;
    }
}
</style>
{%- assign logo_svg = section.settings.logo_svg -%}
{%- assign image_src = section.settings.logo -%}
{%- assign logo_max_width = section.settings.logo_max_width -%}
{%- if logo_svg != blank -%}
{%- assign width = logo_svg | split: 'width="' | last | split: '"' | first | times: 1.0 -%}
{%- assign height = logo_svg | split: 'height="' | last | split: '"' | first | plus: 0 -%}
{%- assign aspect_ratio = height | divided_by: width -%}
<div class="header__heading-logo--svg" style="--max-width: {{ logo_max_width }}px; --max-height: {{ logo_max_width | times: aspect_ratio }}px;">
    {{ logo_svg }}
</div>
{%- elsif image_src -%}
{%- assign image_size_2x = logo_max_width | times: 2 | at_most: 5760 -%}
<img srcset="{{ image_src | image_url: width: logo_max_width }} 1x, {{ image_src | image_url: width: image_size_2x }} 2x"
        src="{{ image_src | image_url: width: logo_max_width }}"
        class="header__heading-logo"
        alt="{{ image_src.alt | default: shop.name | escape }}"
        style="max-width: {{ logo_max_width }}px"
        width="{{ logo_max_width }}"
        height="{{ logo_max_width | divided_by: image_src.aspect_ratio }}"
        loading="lazy"
        >
{%- else -%}
<span class="h3">{{ shop.name }}</span>
{%- endif -%}

{% schema %}
{
  "name": "Logo",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
	  "label": "Image"
    },
    {
      "type": "html",
      "id": "logo_svg",
      "label": "Svg code",
      "info": "Use instead of an image. SVG should have width and height attributes."
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 40,
      "max": 400,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "Logo width"
    }
  ]
}
{% endschema %}
