{%- capture page_width -%}{%- if section.settings.width != "default" %}{{ section.settings.width }}{%- else -%}{{ settings.page_width_main }}{%- endif -%}{%- endcapture -%}
<style>
  .footer-content{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    min-height: 64px;
    padding: 10px 0;
  }
  .password-footer--top-line{
    border-top:1px solid var(--color-lines);
  }
  .wokiee-social__icons{
    display:flex;
    flex-wrap:wrap;
    gap:14px;
  }
  .wokiee-social__icons a{
    display:flex;
  }
  @media (min-width:1025px){
    .wokiee-social__icons li a>*{
      position:relative;
      transition: all 0.20s ease-out;
    }
    .wokiee-social__icons li a:hover>*{
      transform: translateY(-5px);
    }
    .wokiee-social__icons li a:hover svg path{
      fill:var(--color-accent);
    }
  }
  @media (max-width:576px){
    .footer-content .copyright{
      order:2;
    }
    .footer-content .wokiee-social__icons{
      order:1;
    }
    .footer-content{
      flex-direction:column;
      align-items: flex-start;
      justify-content: flex-start;
      gap:15px;
      padding: 15px 0;
    }
  }
</style>

<footer id="theme-section-{{ section.id }}"
     class="password-footer{% if section.settings.show_top_line %} password-footer--top-line{% endif %}"
     data-section-name="main-password-footer">
  <div class="{{ page_width }}">
    <div class="footer-content">
      <div class="copyright body3 mt-first-0">
        <p class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</p>
        <p class="mt8">{{- 'general.copyright.powered_by_html' | t -}}</p>
      </div>
      {%- if section.settings.show_social -%}
      <ul class="unstyle-ul wokiee-social__icons">
        {%- render "header-social-media", enable__social:true -%}
      </ul>
      {%- endif -%}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "page-width",
            "label": "Boxed"
          },
          {
            "value": "page-wide",
            "label": "Wide"
          }
        ],
        "default": "default",
        "label": "Width",
        "info": "The Wide option works for screens with 1440px width and more."
      },
      {
        "type": "checkbox",
        "id": "show_top_line",
        "default": true,
        "label": "Show top line"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "default": true,
        "label": "Show social media icons",
        "info": "To display your social media accounts, link them in your theme settings."
      }
    ]
  }
{% endschema %}