<style>
.popup-search__external-content__js{
  display:none;
}
{%- if section.settings.color_modal_overlay != "rgba(0,0,0,0)" -%}
.header-modal-search{
  --color-popup-modal-overlay-rgb:{{ section.settings.color_modal_overlay.red }}, {{ section.settings.color_modal_overlay.green }}, {{ section.settings.color_modal_overlay.blue }};
}
{%- endif -%}
.header-modal-search .popup-modal__content{
  {%- if section.settings.color_search_input_background != "rgba(0,0,0,0)" -%}--color-input-background-block:{{ section.settings.color_search_input_background }};{%- endif -%}
  {%- if section.settings.color_search_input_border != "rgba(0,0,0,0)" -%}--color-input-border:{{ section.settings.color_search_input_border }};{%- endif -%}
  {%- if section.settings.color_search_input_text != "rgba(0,0,0,0)" -%}--color-input-text-block:{{ section.settings.color_search_input_text }};{%- endif -%}
  {%- if section.settings.color_search_input_icon != "rgba(0,0,0,0)" -%}--color-input-icon-block:{{ section.settings.color_search_input_icon }};{%- endif -%}
  {%- if section.settings.color_search_input_background_hover != "rgba(0,0,0,0)" -%}--color-input-background-active:{{ section.settings.color_search_input_background_hover }};{%- endif -%}
  {%- if section.settings.color_search_input_border_hover != "rgba(0,0,0,0)" -%}--color-input-border-active-block:{{ section.settings.color_search_input_border_hover }};{%- endif -%}
  {%- if section.settings.color_search_input_outline_hover != "rgba(0,0,0,0)" -%}--color-input-outline-active:{{ section.settings.color_search_input_outline_hover }};{%- endif -%}
  {%- if section.settings.color_search_input_text_hover != "rgba(0,0,0,0)" -%}--color-input-text-active-block:{{ section.settings.color_search_input_text_hover }};{%- endif -%}
  {%- if section.settings.color_search_input_icon_hover != "rgba(0,0,0,0)" -%}--color-input-icon-active-block:{{ section.settings.color_search_input_icon_hover }};{%- endif -%}
  {%- if section.settings.color_search_lines != "rgba(0,0,0,0)" -%}--color-lines:{{ section.settings.color_search_lines }};{%- endif -%}
  {%- if section.settings.color_search_background != "rgba(0,0,0,0)" -%}background:{{ section.settings.color_search_background }};{%- endif -%}
}
{%- if section.settings.color_search_heading != "rgba(0,0,0,0)" -%}
.header-modal-search .popup-modal__search .predictive-search__heading{
  color:{{ section.settings.color_search_heading }};
}
{%- endif -%}
{%- if section.settings.color_search_close != "rgba(0,0,0,0)" -%}
.header-modal-search .popup-modal__toggle path{
  fill:{{ section.settings.color_search_close }};
}
{%- endif -%}
{%- if section.settings.color_search_main_heading != "rgba(0,0,0,0)" -%}
.header-modal-search .popup-modal__search__heading{
  --color-heading-block:{{ section.settings.color_search_main_heading }};
}
{%- endif -%}
.header-modal-search .popup__predictive-search-container{
  {%- if section.settings.color_search_show_all != "rgba(0,0,0,0)" -%}
    --color-link-button-block:{{ section.settings.color_search_show_all }};
    --color-link-button-icon-block:{{ section.settings.color_search_show_all }};
  {%- endif -%}
  {%- if section.settings.color_search_show_all_hover != "rgba(0,0,0,0)" -%}
    --color-link-button-block-hover:{{ section.settings.color_search_show_all_hover }};
    --color-link-button-icon-block-hover:{{ section.settings.color_search_show_all_hover }};
  {%- endif -%}
}
.header-modal-search .popup__predictive-search-container .predictive-search__item.link{
  {%- if section.settings.color_search_link != "rgba(0,0,0,0)" -%}--color-heading-block:{{ section.settings.color_search_link }};{%- endif -%}
  {%- if section.settings.color_search_link_hover != "rgba(0,0,0,0)" -%}--color-link-button-block-inverse-hover:{{ section.settings.color_search_link_hover }};{%- endif -%}
}
.header-modal-search .popup__predictive-search-container .predictive-search__item__product{
  {%- if section.settings.color_search_product_vendor != "rgba(0,0,0,0)" -%}--color-search-results-vendor:{{ section.settings.color_search_product_vendor }};{%- endif -%}
  {%- if section.settings.color_search_product_name != "rgba(0,0,0,0)" -%}--color-heading-block:{{ section.settings.color_search_product_name }};{%- endif -%}
  {%- if section.settings.color_search_product_name_hover != "rgba(0,0,0,0)" -%}
  --color-animation-underline:{{ section.settings.color_search_product_name_hover }};
  --color-text-link-hover-block:{{ section.settings.color_search_product_name_hover }};
  {%- endif -%}
  {%- if section.settings.color_search_product_price != "rgba(0,0,0,0)" -%}--color-price-main-block:{{ section.settings.color_search_product_price }};{%- endif -%}
  {%- if section.settings.color_search_product_price_sale != "rgba(0,0,0,0)" -%}--color-save-price-block:{{ section.settings.color_search_product_price_sale }};{%- endif -%}
  {%- if section.settings.color_search_product_price_old != "rgba(0,0,0,0)" -%}--color-old-price-main-block:{{ section.settings.color_search_product_price_old }};{%- endif -%}
  {%- if section.settings.color_active_rating   != "rgba(0,0,0,0)" -%}--color-rating-active:{{ section.settings.color_active_rating }};{%- endif -%}
  {%- if section.settings.color_base_rating   != "rgba(0,0,0,0)" -%}--color-rating-base:{{ section.settings.color_base_rating }};{%- endif -%}
}
{%- if section.settings.color_search_link != "rgba(0,0,0,0)" -%}
  .header-modal-search .popup-modal__search{
    --color-loader:{{ section.settings.color_search_link }};
  }
  .header-modal-search .popup-modal__search .custom__scrollbar::-webkit-scrollbar-thumb {
    background: {{ section.settings.color_search_link | color_modify: 'alpha', 0.3 }};
  }
  .header-modal-search .popup-modal__search .custom__scrollbar::-webkit-scrollbar-thumb:hover {
    background:{{ section.settings.color_search_link }};
  }
{%- endif -%}
</style>
{% capture blocks %}
{% content_for 'blocks' %}
{%  endcapture %}
<external-searchcontent data-section-name="popup-search-modules">
  {%- if blocks != blank -%}
  <div id="theme-section-{{ section.id }}" class="popup-search__external-content">
    {{ blocks }}    
  </div>
  {%- endif -%}
</external-searchcontent>
{% schema %}
{
  "name": "t:header.popup_search_modules",
  "class": "popup-search__external-content__js",
  "limit": 1,
  "settings": [
      {
        "type": "paragraph",
        "content": "A section with additional elements in the search popup header. Works when search is activated in the header section. Search should have a closed design on a large screen. Works always on a mobile device."
      },
      {
        "type": "paragraph",
        "content": "When using predictive search, when you enter a search term, additional content disappears to avoid interfering with the search."
      },
      {
        "type": "select",
        "id": "heading_aligment_block",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center-desktop",
            "label": "Center"
          }
        ],
        "default": "text-center-desktop",
        "label": "Heading alignment"
      },
      {
        "type": "header",
        "content": "Сollections"
      },
      {
        "type": "select",
        "id": "grid_collection",
        "options": [
          {
            "value": "page-grid-2",
            "label": "2"
          },
          {
            "value": "page-grid-3",
            "label": "3"
          },
          {
            "value": "page-grid-4",
            "label": "4"
          },
          {
            "value": "page-grid-5",
            "label": "5"
          },
          {
            "value": "page-grid-6",
            "label": "6"
          }
        ],
        "default": "page-grid-6",
        "label": "Number of columns"
      },
      {
        "type": "select",
        "id": "grid_tablet_collection",
        "options": [
          {
            "value": "page-grid-st-2",
            "label": "2"
          },
          {
            "value": "page-grid-st-3",
            "label": "3"
          }
        ],
        "default": "page-grid-st-2",
        "label": "Number of columns on tablet"
      },
      {
        "type": "select",
        "id": "image_ratio_collection",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "0.75",
            "label": "Portrait (3:4)"
          },
          {
            "value": "1.333333",
            "label": "Landscape (4:3)"
          },
          {
            "value": "1",
            "label": "Square (1:1)"
          },
          {
            "value": "1.00",
            "label": "Round (1:1)"
          },
          {
            "value": "0.5625",
            "label": "Social story (9:16)"
          },
          {
            "value": "1.777777",
            "label": "Widescreen (16:9)"
          }
        ],
        "default": "auto",
        "label": "Image ratio"
      },
      {
        "type": "select",
        "id": "text_align_collection",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          }
        ],
        "default": "text-center",
        "label": "Text align"
      },
      {
        "type": "checkbox",
        "id": "hover_underline_collection",
        "default": true,
        "label": "Underline on hover"
      },
      {
        "type": "checkbox",
        "id": "show_products_count_collection",
        "default": true,
        "label": "Show products count"
      },
      {
        "type": "header",
        "content": "Products"
      },
      {
        "type": "select",
        "id": "grid_products",
        "options": [
          {
            "value": "page-grid-2",
            "label": "2"
          },
          {
            "value": "page-grid-3",
            "label": "3"
          },
          {
            "value": "page-grid-4",
            "label": "4"
          },
          {
            "value": "page-grid-5",
            "label": "5"
          },
          {
            "value": "page-grid-6",
            "label": "6"
          }
        ],
        "default": "page-grid-6",
        "label": "Number of columns"
      },
      {
        "type": "select",
        "id": "grid_tablet_products",
        "options": [
          {
            "value": "page-grid-st-2",
            "label": "2"
          },
          {
            "value": "page-grid-st-3",
            "label": "3"
          }
        ],
        "default": "page-grid-st-2",
        "label": "Number of columns on tablet"
      },
      {
        "type": "select",
        "id": "image_ratio_product",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "0.75",
            "label": "Portrait (3:4)"
          },
          {
            "value": "1.333333",
            "label": "Landscape (4:3)"
          },
          {
            "value": "1",
            "label": "Square (1:1)"
          },
          {
            "value": "1.00",
            "label": "Round (1:1)"
          },
          {
            "value": "0.5625",
            "label": "Social story (9:16)"
          },
          {
            "value": "1.777777",
            "label": "Widescreen (16:9)"
          }
        ],
        "default": "auto",
        "label": "Image ratio"
      },
      {
        "type": "range",
        "id": "product_limit",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 6,
        "label": "Products"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          }
        ],
        "default": "text-center",
        "label": "Text align"
      },
      {
        "type": "select",
        "id": "image_action",
        "options": [
          {
            "value": "normal",
            "label": "Only image"
          },
          {
            "value": "show_secondary_image",
            "label": "Show second image on hover"
          },
          {
            "value": "show_secondary_image_video",
            "label": "Show video on hover"
          },
          {
            "value": "gallery",
            "label": "Gallery"
          }
        ],
        "default": "show_secondary_image",
        "label": "Image action"
      },
      {
        "type": "checkbox",
        "id": "hover_underline",
        "default": true,
        "label": "Underline on hover"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": true,
        "label": "Show vendor"
      },
      {
        "type": "checkbox",
        "id": "show_price",
        "default": true,
        "label": "Show price"
      },
      {
        "type": "checkbox",
        "id": "truncate_product_name",
        "default": false,
        "label": "Truncate product name"
      },
      {
        "visible_if": "{{ settings.enable_rating == true }}",
        "type": "checkbox",
        "id": "enable_rating_product_card",
        "default": true,
        "label": "Enable review stars"
      },
      {
        "type": "checkbox",
        "id": "show_badge_on_sale",
        "default": true,
        "label": "Show badge \"Sale\""
      },
      {
        "type": "checkbox",
        "id": "show_badge_sold_out",
        "default": true,
        "label": "Show badge \"Sold Out\""
      },
      {
        "type": "checkbox",
        "id": "show_badge_feature",
        "default": true,
        "label": "Show badge \"Feature\""
      },
      {
        "type": "checkbox",
        "id": "show_countdown",
        "default": true,
        "label": "Show \"Countdown\""
      },
      {
        "type": "header",
        "content": "Banners"
      },
      {
        "type": "select",
        "id": "grid",
        "options": [
          {
            "value": "page-grid-1",
            "label": "1"
          },
          {
            "value": "page-grid-2",
            "label": "2"
          },
          {
            "value": "page-grid-3",
            "label": "3"
          },
          {
            "value": "page-grid-4",
            "label": "4"
          },
          {
            "value": "page-grid-5",
            "label": "5"
          },
          {
            "value": "page-grid-6",
            "label": "6"
          }
        ],
        "default": "page-grid-3",
        "label": "Number of columns"
      },
      {
        "type": "select",
        "id": "grid_tablet",
        "options": [
          {
            "value": "page-grid-st-1",
            "label": "1"
          },
          {
            "value": "page-grid-st-2",
            "label": "2"
          },
          {
            "value": "page-grid-st-3",
            "label": "3"
          }
        ],
        "default": "page-grid-st-1",
        "label": "Number of columns on tablet"
      },
      {
        "type": "select",
        "id": "mobile_grid",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "1",
        "label": "Mobile grid"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "0.75",
            "label": "Portrait (3:4)"
          },
          {
            "value": "1.333333",
            "label": "Landscape (4:3)"
          },
          {
            "value": "1",
            "label": "Square (1:1)"
          },
          {
            "value": "1.00",
            "label": "Round (1:1)"
          },
          {
            "value": "0.5625",
            "label": "Social story (9:16)"
          },
          {
            "value": "1.777777",
            "label": "Widescreen (16:9)"
          }
        ],
        "default": "auto",
        "label": "Image ratio"
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "0.75",
            "label": "Portrait (3:4)"
          },
          {
            "value": "1.333333",
            "label": "Landscape (4:3)"
          },
          {
            "value": "1",
            "label": "Square (1:1)"
          },
          {
            "value": "1.00",
            "label": "Round (1:1)"
          },
          {
            "value": "0.5625",
            "label": "Social story (9:16)"
          },
          {
            "value": "1.777777",
            "label": "Widescreen (16:9)"
          }
        ],
        "default": "auto",
        "label": "Image ratio mobile"
      },
      {
        "type": "header",
        "content": "Image hover effect"
      },
      {
        "type": "select",
        "id": "image_hover",
        "options": [
          {
            "value": "default",
            "label": "Basic theme settings"
          },
          {
            "value": "image-hover-none",
            "label": "Disable"
          },
          {
            "value": "image-hover01",
            "label": "Zoom in #1"
          },
          {
            "value": "image-hover01 image-hover01-rotate",
            "label": "Zoom in and rotate"
          },
          {
            "value": "image-hover02",
            "label": "Zoom in #2"
          },
          {
            "value": "image-hover03",
            "label": "Zoom out #1"
          },
          {
            "value": "image-hover04",
            "label": "Zoom out #2"
          },
          {
            "value": "image-hover05",
            "label": "Slide"
          },
          {
            "value": "image-hover06",
            "label": "Shine"
          }
        ],
        "default": "default",
        "label": "Image hover effect"
      },
      {
        "type": "header",
        "content": "Colors for blocks"
      },
      {
        "type": "color",
        "id": "color_base",
        "default":"rgba(0,0,0,0)",
        "label": "Base block"
      },
      {
        "type": "color",
        "id": "color_accent",
        "default":"rgba(0,0,0,0)",
        "label": "Accent"
      },
      {
        "type": "header",
        "content": "Colors search modal"
      },
      {
        "type": "color",
        "id": "color_search_main_heading",
        "default": "rgba(0,0,0,0)",
        "label": "Heading"
      },
      {
        "type": "color",
        "id": "color_search_background",
        "default": "rgba(0,0,0,0)",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "color_modal_overlay",
        "default": "rgba(0,0,0,0)",
        "label": "Background overlay"
      },      
      {
        "type": "color",
        "id": "color_search_close",
        "default": "rgba(0,0,0,0)",
        "label": "Close button"
      },
      {
        "type": "header",
        "content": "Search input"
      },
      {
        "type": "color",
        "id": "color_search_input_background",
        "default": "rgba(0,0,0,0)",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "color_search_input_border",
        "default": "rgba(0,0,0,0)",
        "label": "Border"
      },
      {
        "type": "color",
        "id": "color_search_input_text",
        "default": "rgba(0,0,0,0)",
        "label": "Text"
      },
      {
        "type": "color",
        "id": "color_search_input_icon",
        "default": "rgba(0,0,0,0)",
        "label": "icon"
      },
      {
        "type": "color",
        "id": "color_search_input_background_hover",
        "default": "rgba(0,0,0,0)",
        "label": "Background hover"
      },
      {
        "type": "color",
        "id": "color_search_input_border_hover",
        "default": "rgba(0,0,0,0)",
        "label": "Border hover"
      },
      {
        "type": "color",
        "id": "color_search_input_outline_hover",
        "default": "rgba(0,0,0,0)",
        "label": "Outline hover"
      },
      {
        "type": "color",
        "id": "color_search_input_text_hover",
        "default": "rgba(0,0,0,0)",
        "label": "Text hover"
      },
      {
        "type": "color",
        "id": "color_search_input_icon_hover",
        "default": "rgba(0,0,0,0)",
        "label": "Icon hover"
      },
      {
        "type": "header",
        "content": "Predictive search"
      },
      {
        "type": "color",
        "id": "color_search_heading",
        "default": "rgba(0,0,0,0)",
        "label": "Heading"
      },
      {
        "type": "color",
        "id": "color_search_link",
        "default": "rgba(0,0,0,0)",
        "label": "Link"
      },
      {
        "type": "color",
        "id": "color_search_link_hover",
        "default": "rgba(0,0,0,0)",
        "label": "Link hover"
      },
      {
        "type": "color",
        "id": "color_search_product_vendor",
        "default": "rgba(0,0,0,0)",
        "label": "Product vendor"
      },
      {
        "type": "color",
        "id": "color_search_product_name",
        "default": "rgba(0,0,0,0)",
        "label": "Product name"
      },
      {
        "type": "color",
        "id": "color_search_product_name_hover",
        "default": "rgba(0,0,0,0)",
        "label": "Product name hover"
      },
      {
        "type": "color",
        "id": "color_search_product_price",
        "default": "rgba(0,0,0,0)",
        "label": "Price"
      },
      {
        "type": "color",
        "id": "color_search_product_price_sale",
        "default": "rgba(0,0,0,0)",
        "label": "Sale price"
      },
      {
        "type": "color",
        "id": "color_search_product_price_old",
        "default": "rgba(0,0,0,0)",
        "label": "Old price"
      },
      {
        "type": "color",
        "id": "color_search_show_all",
        "default": "rgba(0,0,0,0)",
        "label": "Show all"
      },
      {
        "type": "color",
        "id": "color_search_show_all_hover",
        "default": "rgba(0,0,0,0)",
        "label": "Show hover"
      },
      {
        "type": "color",
        "id": "color_search_lines",
        "default": "rgba(0,0,0,0)",
        "label": "Lines"
      },
      {
        "visible_if": "{{ settings.enable_rating == true }}",
        "type": "header",
        "content": "Review stars"
      },
      {
        "visible_if": "{{ settings.enable_rating == true }}",
        "type": "color",
        "id": "color_active_rating",
        "default": "rgba(0,0,0,0)",
        "label": "Stars active"
      },
      {
        "visible_if": "{{ settings.enable_rating == true }}",
        "type": "color",
        "id": "color_base_rating",
        "default": "rgba(0,0,0,0)",
        "label": "Stars base"
      }
    ],
    "blocks": [{"type": "collection-list"}, {"type": "buttons-list"}, {"type": "products-list"}, {"type": "banners-list"}],
    "enabled_on": {
      "groups": ["header"]
    },
    "presets": [
      {
        "name": "t:header.popup_search_modules",
        "category": "t:categories.header_extensions",
        "blocks": [
          {
            "type": "collection-list",
            "blocks": [
              {
                "type": "collection-item"
              },
              {
                "type": "collection-item"
              },
              {
                "type": "collection-item"
              },
              {
                "type": "collection-item"
              },
              {
                "type": "collection-item"
              },
              {
                "type": "collection-item"
              }
            ]
          },
          {
            "type": "products-list"
          },
          {
            "type": "banners-list",
            "blocks": [
              {
                "type": "banner-item"
              },
              {
                "type": "banner-item"
              },
              {
                "type": "banner-item"
              }
            ]
          },
          {
            "type": "buttons-list"
          }
        ]
      }
    ]
  }
{% endschema %}