{%- render 'style-loader', array:'section-wokiee-review.css,swiper-bundle.min.css,component-swiper-slider.css' -%}

{%- capture section_styles -%}
{%- capture __css -%}
{%- if section.settings.color_base   != "rgba(0,0,0,0)" -%}--color-base-section:{{ section.settings.color_base }};{%- endif -%}
{%- if section.settings.color_accent != "rgba(0,0,0,0)" -%}--color-accent-section:{{ section.settings.color_accent }};{%- endif -%}
{%- if section.settings.color_lines  != "rgba(0,0,0,0)" -%}--color-lines:{{ section.settings.color_lines }};{%- endif -%}
{%- if section.settings.color_text_link   != "rgba(0,0,0,0)" -%}--color-heading-link-block:{{ section.settings.color_text_link }};{%- endif -%}
{%- if section.settings.color_text_link_hover != "rgba(0,0,0,0)" -%}--color-heading-hover-block:{{ section.settings.color_text_link_hover }};{%- endif -%}
{%- if section.settings.color_desc != "rgba(0,0,0,0)" -%}--color-text:{{ section.settings.color_desc }};{%- endif -%}
{%- if section.settings.color_background_box         != "rgba(0,0,0,0)" -%}--color-box-background-block:{{ section.settings.color_background_box }};{%- endif -%}
{%- if section.settings.color_media_arrows    != "rgba(0,0,0,0)" -%}--swiper-pagination-arrow-block:{{ section.settings.color_media_arrows }};{%- endif -%}
{%- if section.settings.color_media_dots      != "rgba(0,0,0,0)" -%}--swiper-pagination-bullet-block:{{ section.settings.color_media_dots }};{%- endif -%}
--color-rating-active:{{ section.settings.color_rating_active }};
--color-rating-base:{{ section.settings.color_rating_base }};
{%- endcapture -%}
#theme-section-{{ section.id }}{
  --text-content-width:{{ section.settings.text_content_width }}%;
  {{ __css }}
}
{%- for block in section.blocks -%}
#theme-section-{{ section.id }} #theme-block-{{ block.id }} .wokiee-review__item__review__active{
  width: {{ block.settings.rating | times: 100 | divided_by: 5 }}%;
}
{%- endfor -%}
{%- endcapture -%}
<style>
{{ section_styles }}
.wokiee-review__item__author_image{
  flex:0 0 60px;
}
</style>

{%- render "section-css-background", section:section -%}
{%- render "section-component-top-line", section:section -%}
{%- capture page_width -%}{%- if section.settings.width != "default" %}{{ section.settings.width }}{%- else -%}{{ settings.page_width_main }}{%- endif -%}{%- endcapture -%}
{%- assign section_settings_background = false -%}{%- if section.settings.background != 'hide' and section.settings.background_width == "content_width" -%}{%- assign section_settings_background = true -%}{%- endif -%}

<div id="theme-section-{{ section.id }}"
     class="{% if section.settings.show_lines == false or section.settings.background == 'hide' %}top-spacing-{{ section.settings.top_spacing }}{% endif %}{% if section.settings.background != 'hide' and section.settings.background_width == "fullwidth" %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
     data-section-name="wokiee-review-large">
  <div class="{{ page_width }}{% if section_settings_background %} section-background--mobile-width{% endif %}">
  {%- if section_settings_background -%}<div class="section-background section-background--{{ section.settings.background_spacing }} border__radius">{%- endif -%}
    {%- if section.settings.background != 'show' and section.settings.show_parallax -%}<div class="section-background__elements"><div class="section-background__elements__item"></div></div>{%- endif -%}
    {%- render "section-heading" section:section -%}

    {%- capture content -%}
    {%- for block in section.blocks -%}
    <div class="swiper-slide" lazy="true">
      <div id="theme-block-{{ block.id }}" class="wokiee-review__item wokiee-review__item_large__content hover-area {% if section.settings.image_hover == "default" %}{{ settings.image_hover }}{% else %}{{ section.settings.image_hover }}{% endif %}{% if block.settings.row_reverse %} wokiee-review__item_large__content__swap{% endif %}" {{ block.shopify_attributes }}>
        {%- if block.settings.show_image == "show" -%}
        {%- liquid
            if block.settings.url != blank
            assign html_tag_open = '<a' | append: ' href="' | append: block.settings.url | append:'"'
            assign html_tag_close = '</a>'
            else
            assign html_tag_open = '<div'
            assign html_tag_close = '</div>'
            endif
        -%}
          
        {{ html_tag_open }} class="wokiee-review__item__image">
          {%- assign text_content_width = 100 | minus: section.settings.text_content_width -%}
          {%- assign text_content_width = 100 | times: text_content_width | divided_by: 50 | divided_by: 100.00 -%}
          <div class="image-hover-box__container">
            {%- render "component-image",
                image_ratio_value: section.settings.image_ratio,
                image_source: block.settings.image,
                section_index: section.index
            -%}
          </div>
        {{ html_tag_close }}
        {%- endif -%}
        
        {%- capture content -%}
        {%- if block.settings.showstars -%}
        <div class="wokiee-review__item__review">
          <div class="wokiee-review__item__review__active">
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
          </div>
          <div class="wokiee-review__item__review__main">
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
            {{- 'icon-star-review' | append: settings.system_icon_thickness | inline_asset_content -}}
          </div>
        </div>
        {%- endif -%}
        {%- if block.settings.heading_text != blank -%}

        {%- if block.settings.url != blank -%}
        {{ '<' | append: section.settings.heading_size }} class="wokiee-review__heading">
        <a href="{{ block.settings.url }}" class="clear-underline heading-color-block-hover{% if section.settings.hover_underline %} animation-underline{% endif %}">
        {{ block.settings.heading_text }}
        </a>
        {{ '</' | append: section.settings.heading_size }}>
        {%- else -%}
        {{ '<' | append: section.settings.heading_size }} class="wokiee-review__heading heading-color-block-main{% if section.settings.hover_underline %} animation-underline{% endif %}">
        {{ block.settings.heading_text }}
        {{ '</' | append: section.settings.heading_size }}>
        {%- endif -%}
        
          
        {%- endif -%}
        {%- if block.settings.desc != blank -%}
        <div class="section__richtext__editor">
          {{ block.settings.desc }}
        </div>
        {%- endif -%}
        {%- if block.settings.author != blank or block.settings.author_description != blank -%}
        <div class="wokiee-review__item__author">
          <div class="wokiee-review__item__author_text">
            {%- if block.settings.author != blank -%}<p class="body2 strong">{{ block.settings.author }}</p>{%- endif -%}
            {%- if block.settings.author_description != blank -%}<p class="body3">{{ block.settings.author_description }}</p>{%- endif -%}
          </div>
        </div>
        {%- endif -%}
        {%- endcapture -%}
        {%- if content != blank -%}
        <div class="wokiee-review__item__container__large{% if section.settings.text_align == "text-center" %} wokiee-review__item__container__large-center{% endif %}">
          {{ content }}
        </div>
        {%- endif -%}
      </div>
    </div>
    {%- endfor -%}
    {%- endcapture -%}
    
    <div class="page-grid-1 no-row-gap swiper-no-mask-mobile">
      {%- assign data_grid = "1,1,1,1,1" -%}
      <swiper-slider class="swiper{% if section.settings.swipe_edges == true %} swiper-no-mask{% endif %}"
                     data-swiper-desktop-grid="1"
                     data-swiper-desktop-lg-grid="1"
                     data-swiper-desktop-md-grid="1"
                     data-swiper-tablet-grid="1"
                     data-swiper-mobile-grid="1"
                     data-gutter="10"
                     data-gutter-mobile="15"
                     data-grid="{{ data_grid }}"
                     {% if section.settings.autoplay_enabled and request.design_mode == false %} data-autoplay-delay="{{ section.settings.autoplay_time | times: 1000 }}"{% endif %}
                     data-autoplay="{%- if section.settings.autoplay_enabled and request.design_mode == false -%}true{%- else -%}false{%- endif -%}"
                     data-script="{{ 'swiper-bundle.min.js' | asset_url }}"
        >
        <div class="swiper-wrapper swiper-wrapper--max-height">
          {{ content }}
        </div>
      </swiper-slider>
      <div class="swiper-control-container{% if section.settings.heading_aligment == "text-center" %} justify-content-center{% endif %}">
        <div class="custom-swiper-button-prev{% unless section.settings.desktop_navigation contains "arrows" %} hide-desktop{% endunless %}">{{- 'icon-arrow-left' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
        <div class="swiper-pagination{% unless section.settings.desktop_navigation contains "dots" %} hide-desktop{% endunless %}{% unless section.settings.mobile_navigation contains "dots" %} hide-mobile-xl-st{% endunless %}"></div>
        <div class="custom-swiper-button-next{% unless section.settings.desktop_navigation contains "arrows" %} hide-desktop{% endunless %}">{{- 'icon-arrow-right' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
      </div>
    </div>

    {% if section_settings_background %}</div>{%- endif -%}
  </div>
</div>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:names.reviews_large",
  "tag": "section",
  "disabled_on": {
    "groups": ["header","footer","custom.popups"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "main_subheading",
      "default": "Subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "main_heading",
      "default": "t:names.reviews_large",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "main_desc",
      "default": "Highlight the best collections in your store.",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "heading_aligment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ],
      "default": "text-center",
      "label": "Heading alignment"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "top_spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "normal",
      "label": "Top spacing"
    },
    {
      "type": "select",
      "id": "width",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "page-width",
          "label": "Boxed"
        },
        {
          "value": "page-wide",
          "label": "Wide"
        }
      ],
      "default": "default",
      "label": "Width",
      "info": "The Wide option works for screens with 1440px width and more."
    },
    {
      "type": "header",
      "content": "Review"
    },
    {
      "type": "select",
      "id": "image_hover",
      "options": [
        {
          "value": "default",
          "label": "Basic theme settings"
        },
        {
          "value": "image-hover-none",
          "label": "Disable"
        },
        {
          "value": "image-hover01",
          "label": "Zoom in #1"
        },
        {
          "value": "image-hover01 image-hover01-rotate",
          "label": "Zoom in and rotate"
        },
        {
          "value": "image-hover02",
          "label": "Zoom in #2"
        },
        {
          "value": "image-hover03",
          "label": "Zoom out #1"
        },
        {
          "value": "image-hover04",
          "label": "Zoom out #2"
        },
        {
          "value": "image-hover05",
          "label": "Slide"
        },
        {
          "value": "image-hover06",
          "label": "Shine"
        }
      ],
      "default": "default",
      "label": "Image hover effect"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "0.75",
          "label": "Portrait (3:4)"
        },
        {
          "value": "1.333333",
          "label": "Landscape (4:3)"
        },
        {
          "value": "1",
          "label": "Square (1:1)"
        },
        {
          "value": "0.5625",
          "label": "Social story (9:16)"
        },
        {
          "value": "1.777777",
          "label": "Widescreen (16:9)"
        }
      ],
      "default": "auto",
      "label": "Image ratio"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ],
      "default": "text-center",
      "label": "Text align"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Normal"
        },
        {
          "value": "h3",
          "label": "Small"
        }
      ],
      "default": "h3",
      "label": "Heading size"
    },
    {
      "type": "checkbox",
      "id": "hover_underline",
      "default": true,
      "label": "Underline on hover"
    },
    {
      "type": "range",
      "id": "text_content_width",
      "min": 25,
      "max": 75,
      "step": 1,
      "unit": "%",
      "label": "Content width",
      "default": 50
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "swipe",
      "default": false,
      "label": "Enable slider"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "checkbox",
      "id": "swipe_edges",
      "default": false,
      "label": "Show edges"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "select",
      "id": "desktop_navigation",
      "options": [
        {
          "value": "none",
          "label": "Disable"
        },
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "arrows",
          "label": "Arrows"
        },
        {
          "value": "dots_arrows",
          "label": "Dots and arrows"
        }
      ],
      "default": "dots_arrows",
      "label": "Desktop navigation"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "select",
      "id": "mobile_navigation",
      "options": [
        {
          "value": "none",
          "label": "Disable"
        },
        {
          "value": "dots",
          "label": "Dots"
        }
      ],
      "default": "dots",
      "label": "Mobile navigation"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "checkbox",
      "id": "autoplay_enabled",
      "default": false,
      "label": "Enable autoplay"
    },
    {
      "visible_if": "{{ section.settings.swipe == true and section.settings.autoplay_enabled == true }}",
      "type": "range",
      "id": "autoplay_time",
      "min": 2,
      "max": 40,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "info": "It doesn't work in the theme editor. Once done with slide configuration, you may manually switch to the next slide using arrows.",
      "default": 5
    },
    {
      "type": "header",
      "content": "Dividing line"
    },
    {
      "type": "checkbox",
      "id": "show_lines",
      "default": false,
      "label": "Show"
    },
    {
      "visible_if": "{{ section.settings.show_lines == true }}",
      "type": "select",
      "id": "lines_width",
      "options": [
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        },
        {
          "value": "content_width",
          "label": "Content width"
        }
      ],
      "default": "fullwidth",
      "label": "Width",
      "info": "Doesn't work on mobile phone"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "select",
      "id": "background",
      "options": [
        {
          "value": "hide",
          "label": "Hide"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "hide",
      "label": "Background"
    },
    {
      "visible_if": "{{ section.settings.background == 'color' }}",
      "type": "color",
      "id": "color_background",
      "default": "rgba(0,0,0,0)",
      "label": "Color"
    },
    {
      "visible_if": "{{ section.settings.background == 'gradient' }}",
      "type": "color_background",
      "id": "gradient",
      "label": "Gradient"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "image_picker",
      "id": "background_image",
      "label": "Image"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank }}",
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 0
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank and section.settings.image_overlay_opacity > 0 }}",
      "type": "color",
      "id": "image_overlay_color",
      "default":"rgba(0,0,0,0)",
      "label": "Image overlay color"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Image mobile"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank }}",
      "type": "range",
      "id": "image_overlay_opacity_mobile",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity. Mobile",
      "default": 0
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank and section.settings.image_overlay_opacity_mobile > 0 }}",
      "type": "color",
      "id": "image_overlay_color_mobile",
      "default":"rgba(0,0,0,0)",
      "label": "Image overlay color. Mobile"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "checkbox",
      "id": "show_parallax",
      "default": false,
      "label": "Enable parallax effect"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "select",
      "id": "imagealign",
      "label": "Image position",
      "info": "Works for all screens",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "select",
      "id": "imagesize",
      "label": "Image size",
      "info": "Works for all screens",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Full background size"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ]
    },
    {
      "visible_if": "{{ section.settings.background != 'hide' }}",
      "type": "select",
      "id": "background_width",
      "options": [
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        },
        {
          "value": "content_width",
          "label": "Content width"
        }
      ],
      "default": "fullwidth",
      "label": "Width"
    },
    {
      "visible_if": "{{ section.settings.background != 'hide' }}",
      "type": "select",
      "id": "background_spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "normal",
      "label": "Top, bottom spacing"
    },
    {
      "visible_if": "{{ section.settings.background != 'hide' }}",
      "type": "checkbox",
      "id": "remove_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_base",
      "default":"rgba(0,0,0,0)",
      "label": "Base"
    },
    {
      "type": "color",
      "id": "color_accent",
      "default":"rgba(0,0,0,0)",
      "label": "Accent"
    },
    {
      "type": "color",
      "id": "color_lines",
      "default":"rgba(0,0,0,0)",
      "label": "Lines"
    },
    {
      "type": "header",
      "content": "Review"
    },
    {
      "type": "color",
      "id": "color_text_link",
      "default":"rgba(0,0,0,0)",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "color_text_link_hover",
      "default":"rgba(0,0,0,0)",
      "label": "Heading link hover"
    },
    {
      "type": "color",
      "id": "color_desc",
      "default":"rgba(0,0,0,0)",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "color_background_box",
      "default": "rgba(0,0,0,0)",
      "label": "Text box"
    },
    {
      "type": "header",
      "content": "Rating"
    },
    {
      "type": "color",
      "id": "color_rating_active",
      "default":"#FFAB00",
      "label": "Active"
    },
    {
      "type": "color",
      "id": "color_rating_base",
      "default":"#ffe6b3",
      "label": "Base"
    },
    {
      "type": "header",
      "content": "Media button"
    },
    {
      "type": "color",
      "id": "color_media_arrows",
      "default": "rgba(0,0,0,0)",
      "label": "Slider arrows"
    },
    {
      "type": "color",
      "id": "color_media_dots",
      "default": "rgba(0,0,0,0)",
      "label": "Slider dots"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Review",
      "settings": [
        {
          "type": "select",
          "id": "show_image",
          "options": [
            {
              "value": "hide",
              "label": "Hide"
            },
            {
              "value": "show",
              "label": "Show"
            }
          ],
          "default": "show",
          "label": "Image display"
        },
        {
          "visible_if": "{{ block.settings.show_image == 'show' }}",
          "type": "checkbox",
          "id": "row_reverse",
          "default": false,
          "label": "Swap content"
        },
        {
          "visible_if": "{{ block.settings.show_image == 'show' }}",
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "60x60px recommended"
        },
        {
          "type": "checkbox",
          "id": "showstars",
          "label": "Show rating",
          "default": true
        },
        {
          "visible_if": "{{ block.settings.showstars == true }}",
          "type":      "range",
          "id":        "rating",
          "min":       1,
          "max":       5,
          "step":      0.1,
          "label":     "Item rating",
          "default":   5
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Text",
          "default": "Review title"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Text",
          "default": "<p>Write about a positive experience using your products or services.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Review Author"
        },
        {
          "type": "textarea",
          "id": "author_description",
          "label": "Author description",
          "default": "Short description"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
    "presets": [
      {
      	"name": "t:names.reviews_large",
        "category": "t:categories.storytelling",
        "blocks": [
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          }
        ]
      }
    ]
}
{% endschema %}
