{%- if template == "index" or section.settings.index_page == false -%}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'component-swiper-slider.css' | asset_url | stylesheet_tag }}

{%- capture section_styles -%}
{%- capture __css -%}
{%- if section.settings.color_lines  != "rgba(0,0,0,0)" -%}--color-lines:{{ section.settings.color_lines }};{%- endif -%}
{%- if section.settings.color_text_icons  != "rgba(0,0,0,0)" -%}--color-text-icons-block:{{ section.settings.color_text_icons }};{%- endif -%}
{%- if section.settings.color_text_link   != "rgba(0,0,0,0)" -%}
--color-text:{{ section.settings.color_text_link }};
--color-text-link-block:{{ section.settings.color_text_link }};
--color-heading-block:{{ section.settings.color_text_link }};
--color-heading-link-block:{{ section.settings.color_text_link }};
{%- endif -%}
{%- if section.settings.color_text_link_hover != "rgba(0,0,0,0)" -%}
--color-text-link-hover-block:{{ section.settings.color_text_link_hover }};
--color-heading-hover-block:{{ section.settings.color_text_link_hover }};
{%- endif -%}
{%- if section.settings.color_media_arrows    != "rgba(0,0,0,0)" -%}--swiper-pagination-arrow-block:{{ section.settings.color_media_arrows }};{%- endif -%}
{%- endcapture -%}
{%- if __css != blank -%}
#theme-section-{{ section.id }}{
  {{ __css }}
}
{%- endif -%}
{%- endcapture -%}
<style>{{ section_styles }}
#theme-section-{{ section.id }}{
  overflow:hidden;
}
#theme-section-{{ section.id }} .announcement-bar-header__block__icon svg{
  width: 20px;
  height: 20px;
}
.announcement-bar-header{
  display:flex;
  flex-direction:column;
  gap:0;
  align-items: center;
  justify-content:center;
  height:100%;
  min-height:40px;
}
.announcement-bar-header__block{
  display:flex;
  flex-direction:row;
  gap:10px;
  align-items:center;
}
[data-section-name="announcement-bar-header"] [class*="custom-swiper-button"]{
  position:absolute;
  margin-top: 0px;
  left:0;
  top:50%;
  transform: translate(0, -50%);
  z-index: 2;
}
[data-section-name="announcement-bar-header"] .custom-swiper-button-next{
  left:auto;
  right:0;
}
[data-section-name="announcement-bar-header"] .announcement-bar-header__block_text{
  text-align:left;
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:10px;
}
[data-section-name="announcement-bar-header"] .announcement-bar-header__block_text>*{
  margin-top:0;
}
.announcement-bar-header__arrows{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
}
.announcement-bar-header__arrows>*{
  pointer-events:all;
}
[data-section-name="announcement-bar-header"] .swiper{
  width:calc(100% - 60px);
}
.announcement-bar-header__block__icon{
  flex:0 0 auto;
}
@media (min-width:577px){
  .announcement-bar-header{
    {%- if section.settings.background != "hide" -%}
    padding:{{ section.settings.v_padding }}px 20px;
    {%- else -%}
    padding: 10px 20px;
    {%- endif -%}
  }
}
@media (max-width:576px){
  .announcement-bar-header{
    {%- if section.settings.background != "hide" -%}
    padding:{{ section.settings.v_padding }}px 18px;
    {%- else -%}
    padding:10px 18px;
    {%- endif -%}
  }
  [data-section-name="announcement-bar-header"] .announcement-bar-header__block_text{
    flex-direction:column;
    gap:0px;
  }
  [data-section-name="announcement-bar-header"] .custom-swiper-button-prev{
    left:15px;
  }
  [data-section-name="announcement-bar-header"] .custom-swiper-button-next{
    right:15px;
  }
  [data-section-name="announcement-bar-header"] .swiper{
    width:calc(100% - 80px);
  }
}
</style>

{%- render "section-css-background", section:section -%}
{%- render "section-component-top-line", section:section -%}
{%- capture page_width -%}{%- if section.settings.width != "default" %}{{ section.settings.width }}{%- else -%}{{ settings.page_width_main }}{%- endif -%}{%- endcapture -%}
{%- assign section_settings_background = false -%}{%- if section.settings.background != 'hide' and section.settings.background_width == "content_width" -%}{%- assign section_settings_background = true -%}{%- endif -%}

<div id="theme-section-{{ section.id }}"
     class="{% if section.settings.show_lines == false or section.settings.background == 'hide' %}top-spacing-{{ section.settings.top_spacing }}{% endif %}{% if section.settings.background != 'hide' and section.settings.background_width == "fullwidth" %} section-background section-background--none{% endif %}"
     data-section-name="announcement-bar-header">
  <div class="{{ page_width }}{% if section_settings_background %} section-background--mobile-width{% endif %}">
  {%- if section_settings_background -%}<div class="section-background section-background--none border__radius">{%- endif -%}

    {%- capture content -%}
    {%- for block in section.blocks -%}
    <div class="swiper-slide" lazy="true">
      <div id="theme-block-{{ block.id }}" class="announcement-bar-header mt--first-child-0 text-center" {{ block.shopify_attributes }}>
        <div class="announcement-bar-header__block mt--first-child-0 mb--last-child-0 {{ section.settings.content_align }}">
          {%- capture icon_content -%}
          {%- render "component-image-icon",
              show_icon: block.settings.show_icon,
              image: block.settings.image,
              icon: block.settings.icon_name,
              image_custom_width: section.settings.icon_width,
          -%}
          {%- endcapture -%}
          {%- if icon_content != blank -%}
            <div class="announcement-bar-header__block__icon display-flex">
              <div class="display-inline-flex">
                {{ icon_content }}
              </div>
            </div>
          {%- endif -%}
          {%- if block.settings.block_text != blank -%}
            <div class="mt0 announcement-bar-header__block_text body2">{{ block.settings.block_text }}</div>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- endfor -%}
    {%- endcapture -%}
    <div class="page-grid-1 no-row-gap swiper-no-mask-mobile{% if section.settings.heading_aligment == "text-center" %} justify-content-center{% endif %} position-relative">
      <swiper-slider class="swiper swiper-loop announcement-bar-header__swiper-mask"
                     data-swiper-desktop-grid="1"
                     data-swiper-desktop-lg-grid="1"
                     data-swiper-desktop-md-grid="1"
                     data-swiper-tablet-grid="1"
                     data-swiper-mobile-grid="1"
                     data-gutter="10"
                     data-gutter-mobile="15"
                     data-grid="1,1,1,1,1"
                     {% if section.settings.autoplay_enabled and request.design_mode == false %} data-autoplay-delay="{{ section.settings.autoplay_time | times: 1000 }}"{% endif %}
                     data-autoplay="{%- if section.settings.autoplay_enabled and request.design_mode == false -%}true{%- else -%}false{%- endif -%}"
                     data-script="{{ 'swiper-bundle.min.js' | asset_url }}"
                     data-loop="true"
        >
        <div class="swiper-wrapper">
          {{ content }}
        </div>
      </swiper-slider>
      <div class="swiper-control-container announcement-bar-header__arrows justify-content-center">
        <div class="custom-swiper-button-prev internal-swiper-custom-button-prev display-flex{% unless section.settings.desktop_navigation contains "arrows" %} hide-desktop{% endunless %}{% unless section.settings.mobile_navigation contains "arrows" %} hide-mobile-xl-st{% endunless %}">{{- 'icon-arrow-left' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
        <div class="custom-swiper-button-next internal-swiper-custom-button-next display-flex{% unless section.settings.desktop_navigation contains "arrows" %} hide-desktop{% endunless %}{% unless section.settings.mobile_navigation contains "arrows" %} hide-mobile-xl-st{% endunless %}">{{- 'icon-arrow-right' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
      </div>
    </div>
    {% if section_settings_background %}</div>{%- endif -%}
  </div>
</div>
{%- render "section-component-top-line", section:section, show_line:section.settings.show_lines_bottom -%}
{%- endif -%}

{% schema %}
  {
    "name": "t:header.announcement_bar_header",
  	"tag": "section",
    "enabled_on": {
        "groups": ["header"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          }
        ],
        "default": "none",
        "label": "Top spacing"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "page-width",
            "label": "Boxed"
          },
          {
            "value": "page-wide",
            "label": "Wide"
          }
        ],
        "default": "default",
        "label": "Width",
        "info": "The Wide option works for screens with 1440px width and more."
      },
      {
        "type": "header",
        "content": "Announcement"
      },
      {
        "type": "select",
        "id": "content_align",
        "options": [
          {
            "value": "align-items-start",
            "label": "Top"
          },
          {
            "value": "align-items-center",
            "label": "Center"
          }
        ],
        "default": "align-items-center",
        "label": "Align text relative to icon"
      },
      {
        "type": "checkbox",
        "id": "index_page",
        "default": true,
        "label": "Works only on the home page"
      },
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "select",
        "id": "desktop_navigation",
        "options": [
          {
            "value": "none",
            "label": "Disable"
          },
          {
            "value": "arrows",
            "label": "Arrows"
          }
        ],
        "default": "arrows",
        "label": "Desktop navigation"
      },
      {
        "type": "select",
        "id": "mobile_navigation",
        "options": [
          {
            "value": "none",
            "label": "Disable"
          },
          {
            "value": "arrows",
            "label": "Arrows"
          }
        ],
        "default": "arrows",
        "label": "Mobile navigation"
      },
      {
        "type": "checkbox",
        "id": "autoplay_enabled",
        "default": true,
        "label": "Enable autoplay"
      },
      {
        "type": "range",
        "id": "autoplay_time",
        "min": 2,
        "max": 40,
        "step": 1,
        "unit": "s",
        "label": "Change slides every",
        "info": "It doesn't work in the theme editor. Once done with slide configuration, you may manually switch to the next slide using arrows.",
        "default": 3
      },
      {
        "type": "header",
        "content": "Dividing line"
      },
      {
        "type": "checkbox",
        "id": "show_lines",
        "default": false,
        "label": "Show top line"
      },
      {
        "type": "checkbox",
        "id": "show_lines_bottom",
        "default": false,
        "label": "Show bottom line"
      },
      {
        "visible_if": "{{ section.settings.show_lines == true }}",
        "type": "select",
        "id": "lines_width",
        "options": [
          {
            "value": "fullwidth",
            "label": "Fullwidth"
          },
          {
            "value": "content_width",
            "label": "Content width"
          }
        ],
        "default": "fullwidth",
        "label": "Width",
        "info": "Doesn't work on mobile phone"
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "select",
        "id": "background",
        "options": [
          {
            "value": "hide",
            "label": "Hide"
          },
          {
            "value": "color",
            "label": "Color"
          },
          {
            "value": "gradient",
            "label": "Gradient"
          },
          {
            "value": "image",
            "label": "Image"
          }
        ],
        "default": "color",
        "label": "Background"
      },
      {
        "visible_if": "{{ section.settings.background == 'color' }}",
        "type": "color",
        "id": "color_background",
        "default": "rgba(0,0,0,0)",
        "label": "Color"
      },
      {
        "visible_if": "{{ section.settings.background == 'gradient' }}",
        "type": "color_background",
        "id": "gradient",
        "label": "Gradient"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "image_picker",
        "id": "background_image",
        "label": "Image"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank }}",
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Image overlay opacity",
        "default": 0
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank and section.settings.image_overlay_opacity > 0 }}",
        "type": "color",
        "id": "image_overlay_color",
        "default":"rgba(0,0,0,0)",
        "label": "Image overlay color"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "Image mobile"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank }}",
        "type": "range",
        "id": "image_overlay_opacity_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Image overlay opacity. Mobile",
        "default": 0
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank and section.settings.image_overlay_opacity_mobile > 0 }}",
        "type": "color",
        "id": "image_overlay_color_mobile",
        "default":"rgba(0,0,0,0)",
        "label": "Image overlay color. Mobile"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "select",
        "id": "imagealign",
        "label": "Image position",
        "info": "Works for all screens",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "select",
        "id": "imagesize",
        "label": "Image size",
        "info": "Works for all screens",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "Full background size"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ]
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "select",
        "id": "background_width",
        "options": [
          {
            "value": "fullwidth",
            "label": "Fullwidth"
          },
          {
            "value": "content_width",
            "label": "Content width"
          }
        ],
        "default": "fullwidth",
        "label": "Width"
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "range",
        "id": "v_padding",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Vertical internal padding",
        "default": 10
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "color_lines",
        "default":"rgba(0,0,0,0)",
        "label": "Lines"
      },
      {
        "type": "header",
        "content": "Announcement"
      },
      {
        "type": "color",
        "id": "color_text_link",
        "default":"rgba(0,0,0,0)",
        "label": "Description"
      },
      {
        "type": "color",
        "id": "color_text_link_hover",
        "default":"rgba(0,0,0,0)",
        "label": "Description link hover"
      },
      {
        "type": "color",
        "id": "color_text_icons",
        "default": "rgba(0,0,0,0)",
        "label": "Icon"
      },
      {
        "type": "header",
        "content": "Media button"
      },
      {
        "type": "color",
        "id": "color_media_arrows",
        "default": "rgba(0,0,0,0)",
        "label": "Slider arrows"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Announcement",
        "settings": [
          {
            "type": "select",
            "id": "show_icon",
            "options": [
              {
                "value": "none",
                "label": "Hide"
              },
              {
                "value": "image",
                "label": "Image"
              },  
              {
                "value": "svg",
				        "label": "Preset icon"
              }
            ],
            "default": "svg",
            "label": "Show icon"
          },
          {
            "visible_if": "{{ block.settings.show_icon == 'image' }}",
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "200x200px recommended"
          },
          {
            "visible_if": "{{ block.settings.show_icon == 'svg' }}",
            "type": "text",
            "id": "icon_name",
            "default": "check",
            "label": "Preset icon name"
          },
          {
            "type": "richtext",
            "id": "block_text",
            "default": "<p>Some descriptive text for your store.</p>",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
      	"name": "t:header.announcement_bar_header",
        "category": "t:categories.header_sections",
        "blocks": [
          {
            "type": "item",
            "settings": {
              "icon_name": "bell-ring"
            }
          },
          {
            "type": "item",
            "settings": {
              "icon_name": "like"
            }
          },
          {
            "type": "item",
            "settings": {
              "icon_name": "box"
            }
          }
        ]
      }
    ]
  }
{% endschema %}