<style>
.discount-banner{
  min-height: 100%;
}
.discount-banner__text>*{
  margin-top:0;
}
.discount-banner .price__container{
  margin-top:3px;
}
.discount-banner .rating-wrapper+.price__container{
  margin-top:6px;
}
.discount-banner .price{
  margin-top:0;
}
.discount-banner__container{
  --border:1px;
  --padding:5px;
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:25px;
  padding:calc(var(--padding) - var(--border));
  border:var(--border) solid var(--color-lines);
  border-radius:var(--radius);
  background:var(--color-box-background-block, inherit);
  height: 100%;
}
.discount-banner__container__content{
  --padding-calc:calc(25px - calc(var(--padding) - var(--border)));
  padding: var(--padding-calc) 0 var(--padding-calc) var(--padding-calc);
  width:100%;
}
.discount-banner__container__content>*:first-child,
.discount-banner__container__content__texts__product>*:first-child{
  margin-top:0;
}
.discount-banner .unit-price{
  display:none;
}
.discount-banner .image-hover-box{
  border-radius: max(0px, calc(var(--radius) - 5px));
}
.discount-banner .discount-banner__vendor{
  color:var(--color-vendor, var(--color-base-section, var(--color-base)));
}
.discount-banner .discount-banner__heading{
  color:var(--color-text-block, var(--color-base-section, var(--color-base)));
}
.discount-banner__text{
  --color-heading-block:var(--section-text-color, inherit);
  color:var(--section-text-color, inherit);
}
@media (min-width:1025px){
  .discount-banner__container--reverse{
    flex-direction: row-reverse;
  }
  .discount-banner__container--reverse .discount-banner__container__content{
    padding-left:0;
    padding-right:calc(25px - calc(var(--padding) - var(--border)));
  }
  .discount-banner__container__image{
    flex:0 0 calc(100% - var(--text-content-width, 0));
  }
  .discount-banner .discount-banner__text+*{
    margin-top:15px;
  }
  .discount-banner__heading{
    transition: color var(--duration-medium) var(--animation-bezier);
  }
  .discount-banner:hover .discount-banner__heading{
    color:var(--color-text-block-hover, var(--color-accent-section, var(--color-accent)));
  }
  .discount-banner .image-hover-box:not(:only-child),
  [class*="product-card__image-"]:not(:only-child) {
      transition: opacity var(--duration-large) var(--animation-bezier);
  }
  .discount-banner .image-hover-box:not(:only-child),
  .product-card__image-main:not(:only-child){
    opacity:1;
  }
  .discount-banner .image-hover-box+.image-hover-box,
  .product-card__image-secondary:not(:only-child){
    opacity:0;
  }
  .discount-banner .image-hover-box+.image-hover-box{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  .discount-banner:hover .image-hover-box+.image-hover-box,
  .discount-banner:hover .product-card__image-secondary:not(:only-child){
    opacity: 1;
  }
  .discount-banner:hover:not(:has(.section__video-media__ctrl)) .image-hover-box:not(:only-child):first-child,
  .discount-banner:hover .product-card__image-main:not(:only-child){
    opacity: 0;
  }
}
@media (max-width:1024px){
  .discount-banner__container{
    flex-direction: column-reverse;
    gap:0;
  }
  .discount-banner__container__content{
    flex-grow: 1;
    padding: 25px var(--padding-calc) var(--padding-calc) var(--padding-calc);
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .discount-banner__container__image{
    width:100%;
  }
  .discount-banner__container__content__texts{
    display:flex;
    flex-direction:row;
    gap:20px;
    align-items:center;
  }
  .discount-banner__container__content__texts>*:not(:only-child):first-child{
    flex:0 0 calc(60% - 10px);
  }
  .discount-banner__container__content__texts>*:not(:only-child):last-child{
    text-align:right;
    flex:0 0 calc(40% - 10px);
  }
  .discount-banner .image-hover-box+.image-hover-box{
    display:none;
  }
  .discount-banner .discount-banner__container__content__texts__product:not(:first-child) .rating-wrapper {
    justify-content: flex-end;
  }
}
</style>
{{ 'component-media-video-button.css' | asset_url | stylesheet_tag }}
{%- if section.settings.swipe -%}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'component-swiper-slider.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- capture section_styles -%}
{%- if section.settings.color_base   != "rgba(0,0,0,0)" -%}--color-base-section:{{ section.settings.color_base }};color:{{ section.settings.color_base }};{%- endif -%}
{%- if section.settings.color_accent != "rgba(0,0,0,0)" -%}--color-accent-section:{{ section.settings.color_accent }};{%- endif -%}
{%- if section.settings.color_lines  != "rgba(0,0,0,0)" -%}--color-lines:{{ section.settings.color_lines }};{%- endif -%}
{%- if section.settings.color_vendor != "rgba(0,0,0,0)" -%}--color-vendor:{{ section.settings.color_vendor }};{%- endif -%}
{%- if section.settings.color_price  != "rgba(0,0,0,0)" -%}--color-price-main-block:{{ section.settings.color_price }};{%- endif -%}
{%- if section.settings.color_save_price != "rgba(0,0,0,0)" -%}--color-save-price-block:{{ section.settings.color_save_price }};{%- endif -%}
{%- if section.settings.color_old_price  != "rgba(0,0,0,0)" -%}--color-old-price-main-block:{{ section.settings.color_old_price }};{%- endif -%}
{%- if section.settings.color_text_link              != "rgba(0,0,0,0)" -%}--color-text-block:{{ section.settings.color_text_link }};{%- endif -%}
{%- if section.settings.color_active_rating   != "rgba(0,0,0,0)" -%}--color-rating-active:{{ section.settings.color_active_rating }};{%- endif -%}
{%- if section.settings.color_base_rating   != "rgba(0,0,0,0)" -%}--color-rating-base:{{ section.settings.color_base_rating }};{%- endif -%}
{%- if section.settings.color_text_link_hover        != "rgba(0,0,0,0)" -%}
--color-animation-underline:{{ section.settings.color_text_link_hover }};
--color-text-block-hover:{{ section.settings.color_text_link_hover }};
{%- endif -%}
{%- if section.settings.color_desc                   != "rgba(0,0,0,0)" -%}--section-text-color:{{ section.settings.color_desc }};{%- endif -%}
{%- if section.settings.color_background_box         != "rgba(0,0,0,0)" -%}--color-box-background-block:{{ section.settings.color_background_box }};{%- endif -%}
{%- if section.settings.color_media_background       != "rgba(0,0,0,0)" -%}--color-media-background-section:{{ section.settings.color_media_background }};{%- endif -%}
{%- if section.settings.color_media_background_hover != "rgba(0,0,0,0)" -%}--color-media-background-hover-section:{{ section.settings.color_media_background_hover }};{%- endif -%}
{%- if section.settings.color_media_icon             != "rgba(0,0,0,0)" -%}--color-media-icon-main-section:{{ section.settings.color_media_icon }};{%- endif -%}
{%- if section.settings.color_media_icon_hover       != "rgba(0,0,0,0)" -%}--color-media-icon-hover-main-section:{{ section.settings.color_media_icon_hover }};{%- endif -%}    
{%- if section.settings.color_media_arrows           != "rgba(0,0,0,0)" -%}--swiper-pagination-arrow-block:{{ section.settings.color_media_arrows }};{%- endif -%}
{%- if section.settings.color_media_dots             != "rgba(0,0,0,0)" -%}--swiper-pagination-bullet-block:{{ section.settings.color_media_dots }};{%- endif -%}
{%- if section.settings.color_button_border      != "rgba(0,0,0,0)" -%}
  --color-button-border_main:{{ section.settings.color_button_border }};
  --border-button-width_main:{{ settings.button_border_width_main }}px;
{%- endif -%}
{%- if section.settings.color_button_border_hover!= "rgba(0,0,0,0)" -%}
  --color-button-border-hover_main:{{ section.settings.color_button_border_hover }};
  --border-button-width-hover_main:{{ settings.button_border_width_main }}px;
{%- endif -%}
{%- if section.settings.color_button_text        != "rgba(0,0,0,0)" -%}--color-button-text_main:{{ section.settings.color_button_text }};{%- endif -%}
{%- if section.settings.color_button_text_hover  != "rgba(0,0,0,0)" -%}--color-button-text-hover_main:{{ section.settings.color_button_text_hover }};{%- endif -%}
{%- if section.settings.color_button_icon_main        != "rgba(0,0,0,0)" -%}--color-button-icon_main:{{ section.settings.color_button_icon_main }};{%- endif -%}
{%- if section.settings.color_button_icon_hover_main  != "rgba(0,0,0,0)" -%}--color-button-icon-hover_main:{{ section.settings.color_button_icon_hover_main }};{%- endif -%}
{%- if section.settings.show_button_bg -%}
{%- if section.settings.color_button_gradient != blank or section.settings.color_button != "rgba(0,0,0,0)" -%}
--color-button-block:{%- if section.settings.color_button_gradient == blank -%}{{ section.settings.color_button }}{%- else -%}{{ section.settings.color_button_gradient }}{%- endif -%};
{%- endif -%}
{%- else -%}
--color-button-block:rgba(0,0,0,0);
{%- endif -%}
{%- if section.settings.show_button_bg_hover -%}
{%- if section.settings.color_button_gradient_hover != blank or section.settings.color_button_hover != "rgba(0,0,0,0)" -%}  
--color-button-hover-block:{%- if section.settings.color_button_gradient_hover == blank -%}{{ section.settings.color_button_hover }}{%- else -%}{{ section.settings.color_button_gradient_hover }}{%- endif -%};
{%- endif -%}
{%- else -%}
--color-button-hover-block:rgba(0,0,0,0);
{%- endif -%}
{%- if section.settings.show_button_bg_hover == false -%}
--color-button-opacity-hover_main:0;
{%- endif -%}
{%- if section.settings.show_shadow_button -%}
{%- if section.settings.color_base != "rgba(0,0,0,0)" or section.settings.color_shadow_button != "rgba(0,0,0,0)" -%}
{%- assign shadow_opacity = settings.shadow_opacity_button_main | divided_by: 100.00 -%}
{%- if section.settings.color_shadow_button != "rgba(0,0,0,0)" -%}{%- assign __color = section.settings.color_shadow_button -%}{%- else -%}{%- assign __color = section.settings.color_base -%}{%- endif -%}
--shadow-button_main: {{ settings.horizontal_length_button_main }}px {{ settings.vertical_length_button_main }}px {{ settings.blur_radius_button_main }}px 0 {{ __color | color_modify: 'alpha', shadow_opacity }};
{%- endif -%}
{%- if section.settings.color_base != "rgba(0,0,0,0)" or section.settings.color_shadow_hover_button != "rgba(0,0,0,0)" -%}
{%- assign shadow_opacity = settings.shadow_opacity_hover_button_main | divided_by: 100.00 -%}
{%- if section.settings.color_shadow_hover_button != "rgba(0,0,0,0)" -%}{%- assign __color = section.settings.color_shadow_hover_button -%}{%- else -%}{%- assign __color = section.settings.color_base -%}{%- endif -%}
--shadow-button-hover_main: {{ settings.horizontal_length_hover_button_main }}px {{ settings.vertical_length_hover_button_main }}px {{ settings.blur_radius_hover_button_main }}px 0 {{ __color | color_modify: 'alpha', shadow_opacity }};
{%- endif -%}
{%- else -%}
--shadow-button_main:none;
--shadow-button-hover_main:none;
{%- endif -%}
{%- endcapture -%}
<style>
#theme-section-{{ section.id }}{
  --text-content-width:{{ section.settings.text_content_width }}%;
  {{ section_styles }}
}
</style>

{%- if request.design_mode -%}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- assign data_grid_xl = section.settings.grid | split: "page-grid-" | last -%}
{%- assign data_grid_lg = section.settings.grid | split: "page-grid-" | last | split: " " | first -%}
{%- assign data_grid_md = section.settings.grid | split: "page-grid-" | last | split: " " | first -%}

{%- render "section-css-background", section:section -%}
{%- render "section-component-top-line", section:section -%}
{%- capture page_width -%}{%- if section.settings.width != "default" %}{{ section.settings.width }}{%- else -%}{{ settings.page_width_main }}{%- endif -%}{%- endcapture -%}
{%- assign section_settings_background = false -%}{%- if section.settings.background != 'hide' and section.settings.background_width == "content_width" -%}{%- assign section_settings_background = true -%}{%- endif -%}
<div id="theme-section-{{ section.id }}"
     class="{% if section.settings.show_lines == false or section.settings.background == 'hide' %}top-spacing-{{ section.settings.top_spacing }}{% endif %}{% if section.settings.background != 'hide' and section.settings.background_width == "fullwidth" %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
     data-section-name="discount-banner">
  <div class="{{ page_width }}{% if section_settings_background %} section-background--mobile-width{% endif %}">
  {%- if section_settings_background -%}<div class="section-background section-background--{{ section.settings.background_spacing }} border__radius">{%- endif -%}
    {%- if section.settings.background != 'show' and section.settings.show_parallax -%}<div class="section-background__elements"><div class="section-background__elements__item"></div></div>{%- endif -%}
    {%- render "section-heading" section:section -%}

    {%- capture content -%}
    {%- for block in section.blocks -%}
    {%- capture placeholder_icon -%}
    {%- cycle 'product-apparel-1', 'product-apparel-2', 'product-apparel-3', 'product-apparel-4' -%}
    {%- endcapture -%}
    {%- if section.settings.swipe -%}<div class="swiper-slide" lazy="true">{%- endif -%}
      {%- assign product_object = block.settings.product -%} 
      <a href="{{ product_object.url }}" id="theme-block-{{ block.id }}" class="section-media-buttons-parent discount-banner hover-area a--no-hover-color clear-underline {% if section.settings.image_hover == "default" %}{{ settings.image_hover }}{% else %}{{ section.settings.image_hover }}{% endif %}" {{ block.shopify_attributes }}>
        <div class="discount-banner__container{% if section.settings.row_reverse == true %} discount-banner__container--reverse{% endif %}">
          <div class="discount-banner__container__content">
            <div class="discount-banner__container__content__texts">
              {%- if block.settings.desc != blank -%}
              <div class="discount-banner__text">{{ block.settings.desc }}</div>
              {%- endif -%}
              {%- if product_object != blank -%}
              <div class="discount-banner__container__content__texts__product">
                {%- if section.settings.show_vendor == true and product_object.vendor != blank -%}
                <div class="body3 text-uppercase discount-banner__vendor">{{ product_object.vendor }}</div>
                {%- endif -%}
                <div class="product-card-name-size mt3 discount-banner__heading {% if section.settings.hover_underline %} animation-underline{% endif %}">{{ product_object.title }}</div>
                {%- if settings.enable_rating -%}{%- if section.settings.enable_rating_product_card -%}
                {%- render 'review-stars' _product: product_object -%}
                {%- endif -%}{%- endif -%}
                {%- if section.settings.show_price == true -%}
                {%- render 'price', product: product_object, size:settings.product_card_price_size -%}
                {%- endif -%}
              </div>
              {%- else -%}
              <div class="discount-banner__container__content__texts__product">
                {%- if section.settings.show_vendor == true -%}
                <div class="body3 text-uppercase discount-banner__vendor">VENDOR</div>
                {%- endif -%}
                <div class="product-card-name-size mt3 discount-banner__heading {% if section.settings.hover_underline %} animation-underline{% endif %}">Product name</div>
                {%- if section.settings.show_price == true -%}
                <div class="price__container">
                  <div class="price">
                    <div class="price__regular body3">
                      €19,95 USD
                    </div>
                    <div class="price__sale {{ settings.product_card_price_size }} mt3">€15,95 EUR</div>
                  </div>
                </div>
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
            {%- if section.settings.button_name != blank -%}
            <div class="mt16">
              <div class="btn btn__transition-text w-t-full btn-wide native-hover">
                <div class="btn__texts">
                  <span class="btn__top-text is-visible">{{ section.settings.button_name }}</span>
                  <span class="btn__bottom-text is-hidden">{{ section.settings.button_name }}</span>
                </div>
              </div>
            </div>
            {%- endif -%}
          </div>
          <div class="discount-banner__container__image image-hover-box__container">
            {%- if block.settings.image == blank and block.settings.content_type != "video" -%}
            {%- render "component-image-product-card",
                image_ratio_value: section.settings.image_ratio,
                image_source: product_object.featured_media,
                image_source2: product_object.media[1],
                show_image_source2: section.settings.image_action,
                placeholder_icon:placeholder_icon
            -%}
            {%- else -%}
            
            {%- capture video_html -%}
            {%- if block.settings.video != blank and block.settings.content_type == "video" -%}
            <video-js class="section__video-media__box"
                      data-type="video"
                      data-autoplay="{% if block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endif %}"
                      data-buttons="{% unless block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endunless %}">
              <video class="slide-video slide-media" playsinline=""{% if block.settings.video_slide_mode contains "muted" %} muted=""{% endif %} preload="metadata" loop="">
                {%- assign sources = block.settings.video.sources | last -%}
                <source src="{{ sources.url }}"/>
              </video>
            </video-js>
            {%- elsif block.settings.video_url != blank and block.settings.content_type == "video" -%}
            <video-youtube-js class="section__video-media__box section__video-media__youtube"
                              data-type="youtube"
                              data-mute="{% if block.settings.video_slide_mode contains "muted" %}true{% else %}false{% endif %}"
                              data-autoplay="{% if block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endif %}"
                              data-buttons="{% unless block.settings.video_slide_mode contains "autoplay" %}true{% else %}false{% endunless %}">
              <div id="{{ block.settings.video_url.id }}_____{{ section.id }}{{ forloop.index }}" class="embed-player"></div>
            </video-youtube-js>
            {%- endif -%}
            {%- endcapture -%}
            {%- liquid
                assign main_image_source = block.settings.image
                if main_image_source == blank
                assign main_image_source = block.settings.video.preview_image
                endif
            -%}
            {%- render "component-image",
                image_ratio_value: section.settings.image_ratio,
                image_source: main_image_source,
                image_mobile_source: "",
                video_html:video_html,
                placeholder_icon: placeholder_icon
            -%}
            {%- if section.settings.image_action == "show_secondary_image" and block.settings.content_type != "video" -%}
            {%- render "component-image",
                image_ratio_value: section.settings.image_ratio,
                image_source: product_object.featured_media,
                image_mobile_source: ""
            -%}
            {%- endif -%}
            {%- endif -%}

            {%- unless block.settings.video_slide_mode contains "autoplay" -%}
            {%- liquid
                assign enable_buttons = false
                if block.settings.video != blank and block.settings.content_type == "video"
                assign enable_buttons = true
                elsif block.settings.video_url != blank and block.settings.content_type == "video"
                assign enable_buttons = true
                endif
                -%}
            {%- if enable_buttons -%}
            <div class="section__video-media__ctrl section__video-media__ctrl--center section__video-media-ctrl--mobile section__video-media__ctrl--js">
			  <div class="icon-play">{{- 'icon-play' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
			  <div class="icon-pause">{{- 'icon-pause' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
            </div>
            {%- endif -%}
            {%- endunless -%}
          </div>
        </div>
      </a>
    {%- if section.settings.swipe -%}</div>{%- endif -%}
    {%- endfor -%}
    {%- endcapture -%}
    
    {%- if section.settings.swipe -%}
    <div class="page-grid-1 no-row-gap swiper-no-mask-mobile{% if section.settings.heading_aligment == "text-center" %} justify-content-center{% endif %}">
      {%- assign data_tablet_grid_lg = section.settings.grid_tablet | split: "page-grid-st-" | last -%}
      {%- assign data_grid = "1," | append: data_tablet_grid_lg | append: "," | append:data_grid_md | append: "," | append:data_grid_lg | append: "," | append:data_grid_xl -%}
      <swiper-slider class="swiper{% if section.settings.swipe_edges == true %} swiper-no-mask{% endif %}"
                     data-swiper-desktop-grid="{{ data_grid_xl }}"
                     data-swiper-desktop-lg-grid="{{ data_grid_lg }}"
                     data-swiper-desktop-md-grid="{{ data_grid_md }}"
                     data-swiper-tablet-grid="{{ data_tablet_grid_lg }}"
                     data-swiper-mobile-grid="1"
                     data-gutter="10"
                     data-gutter-mobile="15"
                     data-grid="{{ data_grid }}"
                     {% if section.settings.autoplay_enabled and request.design_mode == false %} data-autoplay-delay="{{ section.settings.autoplay_time | times: 1000 }}"{% endif %}
                     data-autoplay="{%- if section.settings.autoplay_enabled and request.design_mode == false -%}true{%- else -%}false{%- endif -%}"
                     data-script="{{ 'swiper-bundle.min.js' | asset_url }}"
        >
        <div class="swiper-wrapper swiper-wrapper--max-height">
          {{ content }}
        </div>
      </swiper-slider>
      <div class="swiper-control-container{% if section.settings.heading_aligment == "text-center" %} justify-content-center{% endif %}">
        <div class="custom-swiper-button-prev{% unless section.settings.desktop_navigation contains "arrows" %} hide-desktop{% endunless %}">{{- 'icon-arrow-left' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
        <div class="swiper-pagination{% unless section.settings.desktop_navigation contains "dots" %} hide-desktop{% endunless %}{% unless section.settings.mobile_navigation contains "dots" %} hide-mobile-xl-st{% endunless %}"></div>
        <div class="custom-swiper-button-next{% unless section.settings.desktop_navigation contains "arrows" %} hide-desktop{% endunless %}">{{- 'icon-arrow-right' | append: settings.system_icon_thickness | inline_asset_content -}}</div>
      </div>
    </div>      
    {%- else -%}
    <div class="page-grid-sp-1 {{ section.settings.grid_tablet }} {{ section.settings.grid }} {% if section.settings.heading_aligment == "text-center" %} justify-content-center{% endif %}">
      {{ content }}
    </div>
    {%- endif -%}

    {% if section_settings_background %}</div>{%- endif -%}
  </div>
</div>

{%- if section.settings.swipe -%}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:names.discount_banner",
  "tag": "section",
  "disabled_on": {
    "groups": ["header","footer","custom.popups"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "main_subheading",
      "default": "Subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "main_heading",
      "default": "t:names.discount_banner",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "main_desc",
      "default": "Highlight the best collections in your store.",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "heading_aligment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ],
      "default": "text-center",
      "label": "Heading alignment"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "top_spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "normal",
      "label": "Top spacing"
    },
    {
      "type": "select",
      "id": "width",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "page-width",
          "label": "Boxed"
        },
        {
          "value": "page-wide",
          "label": "Wide"
        }
      ],
      "default": "default",
      "label": "Width",
      "info": "The Wide option works for screens with 1440px width and more."
    },
    {
      "type": "select",
      "id": "grid",
      "options": [
        {
          "value": "page-grid-2",
          "label": "2"
        },
        {
          "value": "page-grid-3",
          "label": "3"
        }
      ],
      "default": "page-grid-3",
      "label": "Number of columns"
    },
    {
      "type": "select",
      "id": "grid_tablet",
      "options": [
        {
          "value": "page-grid-st-1",
          "label": "1"
        },
        {
          "value": "page-grid-st-2",
          "label": "2"
        },
        {
          "value": "page-grid-st-3",
          "label": "3"
        }
      ],
      "default": "page-grid-st-3",
      "label": "Number of columns on tablet"
    },
    {
      "type": "select",
      "id": "image_hover",
      "options": [
        {
          "value": "default",
          "label": "Basic theme settings"
        },
        {
          "value": "image-hover-none",
          "label": "Disable"
        },
        {
          "value": "image-hover01",
          "label": "Zoom in #1"
        },
        {
          "value": "image-hover01 image-hover01-rotate",
          "label": "Zoom in and rotate"
        },
        {
          "value": "image-hover02",
          "label": "Zoom in #2"
        },
        {
          "value": "image-hover03",
          "label": "Zoom out #1"
        },
        {
          "value": "image-hover04",
          "label": "Zoom out #2"
        },
        {
          "value": "image-hover05",
          "label": "Slide"
        },
        {
          "value": "image-hover06",
          "label": "Shine"
        }
      ],
      "default": "default",
      "label": "Image hover effect"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "0.75",
          "label": "Portrait (3:4)"
        },
        {
          "value": "1.333333",
          "label": "Landscape (4:3)"
        },
        {
          "value": "1",
          "label": "Square (1:1)"
        },
        {
          "value": "0.5625",
          "label": "Social story (9:16)"
        },
        {
          "value": "1.777777",
          "label": "Widescreen (16:9)"
        }
      ],
      "default": "auto",
      "label": "Image ratio"
    },
    {
      "type": "select",
      "id": "image_action",
      "options": [
        {
          "value": "normal",
          "label": "Only image"
        },
        {
          "value": "show_secondary_image",
          "label": "Show second image on hover"
        }
      ],
      "default": "show_secondary_image",
      "label": "Image action"
    },
    {
      "type": "checkbox",
      "id": "hover_underline",
      "default": true,
      "label": "Underline on hover"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "default": true,
      "label": "Show price"
    },
    {
      "type": "text",
      "id": "button_name",
      "default": "Shop Now!",
      "label": "Button"
    },
    {
      "visible_if": "{{ settings.enable_rating == true }}",
      "type": "checkbox",
      "id": "enable_rating_product_card",
      "default": true,
      "label": "Enable review stars"
    },
    {
      "type": "checkbox",
      "id": "row_reverse",
      "default": false,
      "label": "Swap content"
    },
    {
      "type": "range",
      "id": "text_content_width",
      "min": 35,
      "max": 75,
      "step": 1,
      "unit": "%",
      "label": "Content width",
      "default": 50
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "swipe",
      "default": false,
      "label": "Enable slider"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "checkbox",
      "id": "swipe_edges",
      "default": false,
      "label": "Show edges"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "select",
      "id": "desktop_navigation",
      "options": [
        {
          "value": "none",
          "label": "Disable"
        },
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "arrows",
          "label": "Arrows"
        },
        {
          "value": "dots_arrows",
          "label": "Dots and arrows"
        }
      ],
      "default": "dots_arrows",
      "label": "Desktop navigation"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "select",
      "id": "mobile_navigation",
      "options": [
        {
          "value": "none",
          "label": "Disable"
        },
        {
          "value": "dots",
          "label": "Dots"
        }
      ],
      "default": "dots",
      "label": "Mobile navigation"
    },
    {
      "visible_if": "{{ section.settings.swipe == true }}",
      "type": "checkbox",
      "id": "autoplay_enabled",
      "default": false,
      "label": "Enable autoplay"
    },
    {
      "visible_if": "{{ section.settings.swipe == true and section.settings.autoplay_enabled == true }}",
      "type": "range",
      "id": "autoplay_time",
      "min": 2,
      "max": 40,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "info": "It doesn't work in the theme editor. Once done with slide configuration, you may manually switch to the next slide using arrows.",
      "default": 5
    },
    {
      "type": "header",
      "content": "Dividing line"
    },
    {
      "type": "checkbox",
      "id": "show_lines",
      "default": false,
      "label": "Show"
    },
    {
      "visible_if": "{{ section.settings.show_lines == true }}",
      "type": "select",
      "id": "lines_width",
      "options": [
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        },
        {
          "value": "content_width",
          "label": "Content width"
        }
      ],
      "default": "fullwidth",
      "label": "Width",
      "info": "Doesn't work on mobile phone"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "select",
      "id": "background",
      "options": [
        {
          "value": "hide",
          "label": "Hide"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "hide",
      "label": "Background"
    },
    {
      "visible_if": "{{ section.settings.background == 'color' }}",
      "type": "color",
      "id": "color_background",
      "default": "rgba(0,0,0,0)",
      "label": "Color"
    },
    {
      "visible_if": "{{ section.settings.background == 'gradient' }}",
      "type": "color_background",
      "id": "gradient",
      "label": "Gradient"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "image_picker",
      "id": "background_image",
      "label": "Image"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank }}",
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 0
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank and section.settings.image_overlay_opacity > 0 }}",
      "type": "color",
      "id": "image_overlay_color",
      "default":"rgba(0,0,0,0)",
      "label": "Image overlay color"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Image mobile"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank }}",
      "type": "range",
      "id": "image_overlay_opacity_mobile",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity. Mobile",
      "default": 0
    },
    {
      "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank and section.settings.image_overlay_opacity_mobile > 0 }}",
      "type": "color",
      "id": "image_overlay_color_mobile",
      "default":"rgba(0,0,0,0)",
      "label": "Image overlay color. Mobile"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "checkbox",
      "id": "show_parallax",
      "default": false,
      "label": "Enable parallax effect"
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "select",
      "id": "imagealign",
      "label": "Image position",
      "info": "Works for all screens",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "visible_if": "{{ section.settings.background == 'image' }}",
      "type": "select",
      "id": "imagesize",
      "label": "Image size",
      "info": "Works for all screens",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Full background size"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ]
    },
    {
      "visible_if": "{{ section.settings.background != 'hide' }}",
      "type": "select",
      "id": "background_width",
      "options": [
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        },
        {
          "value": "content_width",
          "label": "Content width"
        }
      ],
      "default": "fullwidth",
      "label": "Width"
    },
    {
      "visible_if": "{{ section.settings.background != 'hide' }}",
      "type": "select",
      "id": "background_spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "normal",
      "label": "Top, bottom spacing"
    },
    {
      "visible_if": "{{ section.settings.background != 'hide' }}",
      "type": "checkbox",
      "id": "remove_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_base",
      "default":"rgba(0,0,0,0)",
      "label": "Base"
    },
    {
      "type": "color",
      "id": "color_accent",
      "default":"rgba(0,0,0,0)",
      "label": "Accent"
    },
    {
      "type": "color",
      "id": "color_lines",
      "default":"rgba(0,0,0,0)",
      "label": "Lines"
    },
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "color",
      "id": "color_vendor",
      "default":"rgba(0,0,0,0)",
      "label": "Vendor"
    },
    {
      "type": "color",
      "id": "color_text_link",
      "default":"rgba(0,0,0,0)",
      "label": "Product name"
    },
    {
      "type": "color",
      "id": "color_text_link_hover",
      "default":"rgba(0,0,0,0)",
      "label": "Product name hover"
    },
    {
      "type": "color",
      "id": "color_price",
      "default": "rgba(0,0,0,0)",
      "label": "Regular Price"
    },
    {
      "type": "color",
      "id": "color_save_price",
      "default": "rgba(0,0,0,0)",
      "label": "Sale Price"
    },
    {
      "type": "color",
      "id": "color_old_price",
      "default": "rgba(0,0,0,0)",
      "label": "Old price"
    },
    {
      "type": "color",
      "id": "color_desc",
      "default":"rgba(0,0,0,0)",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "color_background_box",
      "default": "rgba(0,0,0,0)",
      "label": "Text box"
    },
    {
      "type": "header",
      "content": "Banner button"
    },
    {
      "type": "checkbox",
      "id": "show_button_bg",
      "default": true,
      "label": "Show background"
    },
    {
      "visible_if": "{{ section.settings.show_button_bg == true }}",
      "type": "color",
      "id": "color_button",
      "default":"rgba(0,0,0,0)",
      "label": "Background"
    },
    {
      "visible_if": "{{ section.settings.show_button_bg == true }}",
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "color_button_border",
      "default":"rgba(0,0,0,0)",
      "label": "Border"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "default":"rgba(0,0,0,0)",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "color_button_icon_main",
      "default":"rgba(0,0,0,0)",
      "label": "Icon"
    },
    {
      "type": "checkbox",
      "id": "show_button_bg_hover",
      "default": true,
      "label": "Show background on hover"
    },
    {
      "visible_if": "{{ section.settings.show_button_bg_hover == true }}",
      "type": "color",
      "id": "color_button_hover",
      "default":"rgba(0,0,0,0)",
      "label": "Background hover"
    },
    {
      "visible_if": "{{ section.settings.show_button_bg_hover == true }}",
      "type": "color_background",
      "id": "color_button_gradient_hover",
      "label": "Background gradient hover"
    },
    {
      "type": "color",
      "id": "color_button_border_hover",
      "default":"rgba(0,0,0,0)",
      "label": "Border hover"
    },
    {
      "type": "color",
      "id": "color_button_text_hover",
      "default":"rgba(0,0,0,0)",
      "label": "Text hover"
    },
    {
      "type": "color",
      "id": "color_button_icon_hover_main",
      "default":"rgba(0,0,0,0)",
      "label": "Icon hover"
    },
    {
      "type": "checkbox",
      "id": "show_shadow_button",
      "default": true,
      "label": "Enable shadow"
    },
    {
      "visible_if": "{{ section.settings.show_shadow_button == true }}",
      "type": "color",
      "id": "color_shadow_button",
      "default":"rgba(0,0,0,0)",
      "label": "Shadow"
    },
    {
      "visible_if": "{{ section.settings.show_shadow_button == true }}",
      "type": "color",
      "id": "color_shadow_hover_button",
      "default":"rgba(0,0,0,0)",
      "label": "Shadow hover"
    },
    {
      "type": "header",
      "content": "Media button"
    },
    {
      "type": "color",
      "id": "color_media_arrows",
      "default": "rgba(0,0,0,0)",
      "label": "Slider arrows"
    },
    {
      "type": "color",
      "id": "color_media_dots",
      "default": "rgba(0,0,0,0)",
      "label": "Slider dots"
    },
    {
      "type": "color",
      "id": "color_media_background",
      "default": "rgba(0,0,0,0)",
      "label": "Video background"
    },
    {
      "type": "color",
      "id": "color_media_icon",
      "default": "rgba(0,0,0,0)",
      "label": "Video icon"
    },
    {
      "type": "color",
      "id": "color_media_background_hover",
      "default": "rgba(0,0,0,0)",
      "label": "Video background hover"
    },
    {
      "type": "color",
      "id": "color_media_icon_hover",
      "default": "rgba(0,0,0,0)",
      "label": "Video icon hover"
    },
    {
      "visible_if": "{{ settings.enable_rating == true }}",
      "type": "header",
      "content": "Review stars"
    },
    {
      "visible_if": "{{ settings.enable_rating == true }}",
      "type": "color",
      "id": "color_active_rating",
      "default": "rgba(0,0,0,0)",
      "label": "Stars active"
    },
    {
      "visible_if": "{{ settings.enable_rating == true }}",
      "type": "color",
      "id": "color_base_rating",
      "default": "rgba(0,0,0,0)",
      "label": "Stars base"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Banner",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Text",
          "default": "<h3>Up to<\/h3><h1>50% OFF<\/h1>"
        },
        {
          "type": "select",
          "id": "content_type",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "video",
              "label": "Video"
            }
          ],
          "default": "image",
          "label": "Type"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "visible_if": "{{ block.settings.content_type == 'video' }}",
          "type": "header",
          "content": "Shopify-hosted video"
        },
        {
          "visible_if": "{{ block.settings.content_type == 'video' }}",
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "visible_if": "{{ block.settings.content_type == 'video' }}",
          "type": "header",
          "content": "Or embed youtube video from URL"
        },
        {
          "visible_if": "{{ block.settings.content_type == 'video' }}",
          "type": "paragraph",
          "content": "Shows when no Shopify-hosted video is selected."
        },
        {
          "visible_if": "{{ block.settings.content_type == 'video' }}",
          "type": "video_url",
          "id": "video_url",
          "accept": [
            "youtube"
          ],
          "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
          "label": "URL",
          "info": "Video plays in the page"
        },
        {
          "visible_if": "{{ block.settings.content_type == 'video' }}",
          "type": "select",
          "id": "video_slide_mode",
          "options": [
            {
              "value": "autoplay_muted",
              "label": "Autoplay with muted sound"
            },
            {
              "value": "video_on_click",
              "label": "Play on click with sound"
            },
            {
              "value": "muted",
              "label": "Play on click with muted sound"
            }
          ],
          "default": "autoplay_muted",
          "label": "Video mode"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "t:names.discount_banner",
        "category": "t:categories.products",
        "blocks": [
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          }
        ]
      }
    ]
}
{% endschema %}
