{{ 'section-blog-post-article.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
<style>
  @media (min-width:1025px){
    .page-width--range{
      max-width:{{ section.settings.width_px }}px;
    }
  }
</style>
<div id="theme-section-{{ section.id }}"
     class="top-spacing-{{ section.settings.top_spacing }}"
     data-section-name="main-article">
  <div class="page-width page-width--range">
    {%- render "snippet-main-article" section:section -%}
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "Blog post",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "top_spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "normal",
      "label": "Top spacing"
    },
    {
      "type": "range",
      "id": "width_px",
      "min": 640,
      "max": 1280,
      "step": 20,
      "unit": "px",
      "label": "Desktop width",
      "default": 900
    },
    {
      "type": "select",
      "id": "heading_aligment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ],
      "default": "text-center",
      "label": "Heading aligment"
    },
    {
      "type": "header",
      "content": "Featured image"
    },
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "default": true,
      "label": "Show featured image"
    },
    {
      "type": "header",
      "content": "Post"
    },
    {
      "type": "checkbox",
      "id": "showtags",
      "default": true,
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "Show date"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "Show author"
    },
    {
      "type": "header",
      "content": "Share"
    },
    {
      "type": "text",
      "id": "share_label",
      "label": "Text",
      "default": "Share"
    },
    {
      "type": "paragraph",
      "content": "If you include a link in social media posts, the page’s featured image will be shown as the preview image. [Learn more](https:\/\/help.shopify.com\/en\/manual\/online-store\/images\/showing-social-media-thumbnail-images)."
    },
    {
      "type": "paragraph",
      "content": "A store title and description are included with the preview image. [Learn more](https:\/\/help.shopify.com\/en\/manual\/promoting-marketing\/seo\/adding-keywords#set-a-title-and-description-for-your-online-store)."
    }
  ]
}
{% endschema %}
