<div id="theme-block-{{ block.id }}" {{ block.shopify_attributes }}>
  {%- liquid
      assign placeholder_icon = 'collection-apparel-1'
      assign load_priority_low = 'false'
  -%}

  {%- assign image_ratio_value = section.settings.image_ratio_collection -%}
  {%- if block.settings.collection == blank -%}
  <div class="collection-list hover-area {% if section.settings.image_hover == "default" %}{{ settings.image_hover }}{% else %}{{ section.settings.image_hover }}{% endif %}">
    <div class="image-hover-box__container change-to__small-radius{% if image_ratio_value == '1.00' %} image-hover-box--circle{% endif %}">
      {%- render "component-image",
          image_ratio_value: image_ratio_value,
          image_source: '',
          load_priority_low: load_priority_low,
          section_index: section.index,
          placeholder_icon:placeholder_icon
      -%}
    </div>

    <div class="mt10 {{ section.settings.text_align_collection }} collection-list__texts">
      <div class="mt0 mb0 collection-list__heading heading-color-block-hover{% if section.settings.hover_underline_collection %} animation-underline{% endif %}">{{ 'onboarding.collection_title' | t }}</div>
      {%- if section.settings.show_products_count_collection -%}
      <p class="body3 mt8 collection-list__text">{{ 'sections.collection_list.items_count' | t: count: 0 }}</p>
      {%- endif -%}
    </div>
  </div>
  {%- else -%}

  {%- liquid
      if block.settings.custom_link != blank
      assign href = block.settings.custom_link
      else
      assign href = block.settings.collection.url
      endif
      assign image_source = ''
      if block.settings.image != blank
      assign image_source = block.settings.image
      elsif block.settings.collection.featured_image != blank
      assign image_source = block.settings.collection.featured_image
      endif
  -%}
    
  <a href="{{ href }}" class="collection-list clear-underline a--no-hover-color hover-area {% if section.settings.image_hover == "default" %}{{ settings.image_hover }}{% else %}{{ section.settings.image_hover }}{% endif %}">
    <div class="image-hover-box__container change-to__small-radius{% if image_ratio_value == '1.00' %} image-hover-box--circle{% endif %}">
      {%- render "component-image",
          image_ratio_value: image_ratio_value,
          image_source: image_source,
          load_priority_low: load_priority_low,
          section_index: section.index,
          placeholder_icon:placeholder_icon
      -%}
    </div>

    <div class="mt10 {{ section.settings.text_align_collection }} collection-list__texts">
      <div class="mt0 mb0 collection-list__heading heading-color-block-hover{% if section.settings.hover_underline_collection %} animation-underline{% endif %}">
        {%- if block.settings.collection_name != blank -%}
        {{- block.settings.collection_name -}}
        {%- else -%}
        {{- block.settings.collection.title | escape -}}
        {%- endif -%}
      </div>
      {%- if section.settings.show_products_count_collection -%}
      <p class="body3 mt8 collection-list__text">{{ 'sections.collection_list.items_count' | t: count: block.settings.collection.products_count }}</p>
      {%- endif -%}
    </div>
  </a>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "collection_name",
        "label": "Collection name"
      },
      {
        "type": "url",
        "id": "custom_link",
        "label": "Custom link",
        "info": "Highest priority"
      }
    ],
    "presets": [
      {
      	"name": "Collection"
      }
    ]
  }
{% endschema %}