{% comment %}
  Renders an article cards

  Accepts:
  - section: {Object} Section paramatres object

  Usage:
  {% render 'snippet-main-blog' section:section %}
{% endcomment %}
{%- liquid
    if section.settings.blog == blank
    assign blog_obj = blog
    else
    assign blog_obj = section.settings.blog
    endif
-%}
<div class="page-grid-1 blog-posts__heading {{ section.settings.heading_aligment }}">
  <h1 class="mt0 mb0">
    {%- unless current_tags -%}
    {{ blog_obj.title | escape }}
    {%- else -%}
    {{ blog_obj.title | escape }}&nbsp;{{ 'blogs.blog.heading_result' | t }}&nbsp;{{ current_tags.first | replace: '-', ' ' }}
    {%- endunless -%}
  </h1>
</div>
{%- paginate blog_obj.articles by section.settings.post_limit -%}
<div class="{{ section.settings.grid }} {{ section.settings.texts_aligment }} page-vertical-gap-40 mt40">
  {%- for article in blog_obj.articles -%}
  {%- render "article-card" section:section, article:article -%}
  {%- endfor -%}
</div>
{%- if paginate.parts.size > 0 -%}
<div class="page-grid-1 mt40 no-row-gap">
  <div class="separate-line"></div>
  {% render 'pagination', paginate: paginate, anchor: anchorId, aligment: section.settings.heading_aligment %}
</div>
{%- endif -%}
{%- endpaginate -%}